body{
    background: url('/img/Desktop HD.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

header{
    border:0!important;
}


/*header style*/
#nav-title{
    float:right;
    margin: 11px 0px 0px 15px;
    letter-spacing: 1px;
    font-size: 20px;
}

.navbar{
    min-height: 68px;
}

#work-navbar > .nav-container{
    margin: 0 12px;
}

nav#work-navbar a{
    color:#fff;
    text-decoration: none;
}

.brand-logo-small {
    height: 43px;
}


nav#work-navbar {
    background-color: black;
    border-color: transparent;
}

nav#work-navbar > .nav-container > .navbar-header a > img{
    top: auto;
    margin-top: 15px;
}

.navbar-header button{
    margin-top:10px;
}

.navbar-default .navbar-collapse{
    border-color: transparent;
}

nav#work-navbar > .nav-container > .navbar-header > .navbar-brand{
    height: inherit;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 55px;
}

nav#work-navbar > .nav-container {
    padding-top: 0;
    line-height: 59px;
    padding-bottom: 0;
}

nav#work-navbar > .nav-container .container .navbar-right > ul.nav{
    padding-right: 0;
}

nav#work-navbar > .nav-container .navbar-right{
    width: 33%;
}

nav#work-navbar > .nav-container .navbar-right > ul.nav{
    width: 100%;
}

.navbar-right > ul.nav > li{
    padding:8px;
}

nav#work-navbar > .nav-container .container .navbar-right > ul.nav > li{
    font-size: 14px;
    height: 100%;
    text-align: right;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 2;
    margin: 6px 0px 0px 50px;
}

@media screen and (max-width: 480px) {
    nav#work-navbar > .nav-container .navbar-right > ul.nav > li{
        margin-top:0px;}

}

nav#work-navbar > .nav-container .navbar-right > ul.nav > li > a{
    display: inline;
    padding: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}

nav#work-navbar > .nav-container .navbar-right > ul.nav > li:not(:last-child){
    margin-right: 65px;
}

/*cover style*/
#cover{
    position: relative;
    min-height: 1024px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}


/*sidebar style*/
#sidebar{
    width: 50px;
    float: right;
}

#sidebar > img{
    width: 100%;
}

#header>.site-nav{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


