body{
	/*background: url('/img/Desktop HD.png');	
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: black;
}

header{
	border:0!important;
}
/*header style*/
#header{
	background-color: black;
}

#header > #header-name{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

#header > #header-logo{
	width: 43px;
	padding: 16px 9px 16px 27px;
}

#cover{
	height:500px;
	width:500px;
	background-color: #eeffee;
}

#sidebar{
	width: 50px;
	float: right;
}

#header>.site-nav{
	text-decoration: none;
	color: white;
	font-size: 20px;
}

/*cover style*/
