<style>
      #cover{ 
        background-image: url('/img/events/titt2.png');
        height: 90vh;
        background-size: cover; 
        background-position: center;
    }
    @media (max-width: 576px) { 
        #cover{ 
        background-image: url('/img/events/titt2.gif')
    }
    }
</style>
<section id="cover">
        <!-- <div id="background-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="logo-container">
                    <!-- <img id="brand-logo" class="img-responsive center-block" src="/img/brand-logo.png"/>
                    <img id="brand-logo" class="img-responsive center-block" src="/img/events/uptown/Uptown_Mall_logo.svg"/> -->
                    <!-- <span class="branch-title"><img class="img-responsive center-block" style="width:auto;height:auto" src="/img/events/uptown/titt_white.png"/> </span> -->
                </div>
            </div>
        </div>
        <div id="brush-top" style="min-height: 140px;"></div>
    </section>
