<div id="brush-top"></div>
<section id="customer" class="my-4" style="padding: 0 20px;">
<div class="row pt-4">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center">
        <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
</div>

<div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light">
        <h4>  
          WHEN IS THE EVENT?
        </h4>
        <p>  
          The event runs from October 11 to Oct 27, 2023 6pm to 9pm <b>(FRIDAYS, SATURDAYS, AND SUNDAYS ONLY).</b>
        </p>
        <h4>
  
          WHERE IS THE EVENT?
        </h4>
        <p>
          3rd floor, Century City Mall Cinema 4, Brgy Poblacion, Makati City
        </p>
          <h4>
  
            HOW MUCH PER HEAD?
          </h4>
          <p>
  
            It's 699 per head. 
          </p>
          <h4>
  
            HOW DO I BOOK?:
          </h4>
          <p>
              <a href="https://booknow.mysterymanila.com/?myst_id=125">
                <button class="btn btn-success">CLICK ME</button>
            </a>    
          </p>
        
          <h4>
  
            HOW MANY PLAYERS IN A GROUP?
          </h4>
          <p>
              The game is designed for a minimum of 2 up to a maximum of 7 players.
          </p>
            <h4>
  
              REFUND POLICY
            </h4>
            <p>
  
                Paid bookings cannot be refunded but may be transferred to a different date/time slot subject to our rebooking fees and policies.
                
     
    No refunds will be given if the number of the initial group booked is lesser than the ones who will actually play. 
     
    Time and date changes made to any confirmed booking will be subject for approval and availability of the new chosen time as well as additional charges. Below is the table of fees depending on when the booking change request is made: 

    <table class="table">
        <thead>
            <th>Condition</th>
            <th>Rebooking Fee</th>
        </thead>
        <tbody>
            <tr>
                <td>48 hours or more before the original schedule</td>
                <td>PHP 500.00</td>
            </tr>
            <tr>
                <td>Less than 48 hours up to 24 hours before the original schedule</td>
                <td>PHP 700.00</td>
            </tr>
            <tr>
                <td>24 hrs and below/no show/booking time has passed</td>
                <td>NO REBOOKING ALLOWED. The slot will be considered played</td>
            </tr>
        </tbody>
    </table>
            </p>
              <h4>
  
                HOW LONG IS THE GAME:
              </h4>
              <p>
                The game will be around 30 to 45 minutes long depending on your team.
              </p>
                <h4>
  
                  What happens if I don't get to solve it? 
                </h4>
                <p>
  
                  If your time is up and you haven’t solved the mystery, you have the option of trying it again at a discounted rate. This will be subject to booking availability.
                </p>
          <h4>
    
            Can I get a clue or seek help during the game?
          </h4>
          <p>    
            Yes. There will be a gamekeeper who will be with you the entire time. The gamekeeper will not intervene at any point unless requested to do so. If you ask for a clue, the gamekeeper will provide you with it but every clue requested will equate to a 5 minute addition to your final time. The more  clues you ask for, the more time that will be added to your final finishing time. You will have a fixed amount of 30 minutes maximum to play the game.
          </p>
          <h4>
    
            Age limit: 
            </h4>
          <p>
    
              Groups with minors below 18 years old should be accompanied by at least 1 adult.
          </p>
          <h4>
    
            What if I'm late for the game? Will time be deducted?:
            </h4>
          <p>
    
            If you are less than 5 minutes late, we will still accommodate you with your original booking
            schedule. However if you are late for more than 5 minutes, you can still proceed with the game
            upon arrival but your time allotted to solve the mystery will be reduced. For example, if your
            booking schedule is at 1pm until 1:30pm and you arrive at 1:10pm, you can still proceed with
            the game but your time inside the room will only be 25 minutes instead of 30 minutes.
          </p>
          <h4>
    
            What happens if I solve the Mystery?
          </h4>
          <p>
                The sole objective of the activity is for you to have an unforgettable experience and to try something new and challenging by solving the mystery or by working your way through riddles to escape from the theater. Other than the fulfilling accomplishment from solving the mystery, we also have a leaderboard for the fastest teams. The quicker you solve it, the more chances getting into the leaderboard.
            </p>
          <h4>
            Can I walk-in?
          </h4>
          <p>
            Yes! However, please take note that it’s subject to availability.
          </p>
          <h4>
            What is I really want to play alone?
          </h4>
          <p>
            You can play alone if you really want to but you have to pay for the price of two players. The mystery is designed to be solved by at least two players and a maximum of six. We believe that it is better and much more fun to solve a mystery together.
          </p>
          
    
           
    </div>
    <div class="col-lg-2 col-sm-0 "></div>
  </div>
  
</section>