<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Can you solve the mystery of the haunted theater?</h2>
                <p class="teaser-description">
                    After the hauntings of Terror in the Theater have gone viral last Halloween, it has since been adapted into a horror film. Unfortunately, tragedy struck when the film’s lead actress was accidentally hanged during the lynching scene of the movie. But according to rumors, it wasn’t an accident, but murder.
<br><br>Now, the movie has been cursed and the theater where it is being shown is said to be haunted by the ghost of the victim herself. Your job, as paranormal investigators, is to look into the mysterious occurrences in the theater, and hopefully figure out the identity of the killer to finally put the victim’s spirit to rest.
</p>
               
                    <p class="teaser-description" style="padding-top: 0">
                        - October 07 to November 09, 2024
                        <br>- Venue would be at the <b>3rd floor, Century City Mall Cinema 4, Brgy Poblacion, Makati City</b>
                        <br>- Teams of 2 to 7 people. Only P499 per head.
                        <!-- <br>- Each person gets free popcorn and bottled water -->
                        <br>- Games kick off every 30 minutes from 1:00pm to 8:30 PM (FRIDAYS, SATURDAYS, AND SUNDAYS)</p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
