<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Halloween at a hotel can never be this <s>good</s> evil!</h2>
                <p class="teaser-description">
                    Mystery Manila and Discovery Suites Manila present a special Halloween Mystery Event entitled Dark Discoveries. Running from October 25 to 31, 2023 at Discovery Suites Manila in Ortigas, players can choose between 2 differently-themed escape rooms: a horror mystery entitled Rebecca’s Return, and a family-friendly detective mystery entitled Secret Spies. 
                    
                    In Rebecca’s Return, the weary ghost of Rebecca returns to haunt an abandoned hotel room. As paranormal investigators, you are tasked to banish the spirit and finally put her to res, all within 40 minutes. In Secret Spies, you play as detectives. Your mission, should you choose to accept it, is to recover the top secret files from the hotel room of an enemy spy before he returns in the next 40 minutes.
                </p>

                    <p class="teaser-description" style="padding-top: 0">
                        - October 25 to October 31, 2023
                        <br>- Venue would be at the <b>21st floor, Discovery Suites Manila, Ortigas Center, Pasig City</b>
                        <br>- Teams of 2 to 7 people. Only P699 per head.
                        <br>- Games kick off every 45 minutes from 1:00pm to 10:00 PM Everyday</p>

            </div>
        </div>
        <div class="row w-75" >
            <img src="/img/events/darkdiscoveries/spies.jpg" class="img-fluid" style="width:100%;height: auto;" alt="">
            <img src="/img/events/darkdiscoveries/return.jpg" class="img-fluid" style="width:100%;height: auto;" alt="">
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
