<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Can you escape the psychopath Enigma?</h2>
                <p class="teaser-description">
                    You and your friends have been held captive by the psychopathic killer named Enigma. It's up to you to escape the room in 30 minutes. Unravel the clues and solve the puzzles found inside the room. If you don't solve the mystery, you will be left for dead. The clock is ticking. Solve quickly.
                <p style="text-align: center; color: #fff;">Brought to you by Mystery Manila and 
                
                    <br /><img id="brand-logo" class="" style="height: 100px;"src="/img/events/uptown/Uptown_Mall_logo.svg"/>
                </p>

                    <p class="teaser-description" style="padding-top: 0">
                        - April 14 to June 30, 2023
                        <br>- Venue would be at the <b>3rd floor, Uptown Mall Cinema 3, Fort Bonifacio, Taguig City</b>
                        <br>- Teams of 2 to 7 people. Only P500 per head.
                        <br>- Games kick off every 45 minutes from 1:00pm to 8:30 PM Everyday</p>

            </div>
        </div>
        <div class="row">
            <img src="/img/events/uptown/ransom.png" alt="">
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
