
<div id="rooms">
    {% assign sorted-room = site.data.rooms | sort: 'id' %}
    {% for room in sorted-room %}
    {% if page.slug == room.branch.slug%}
    <div id="{{room.slug}}" class="room clearfix" data-branch="{{ room.branch.slug }} ">
        <div class="hero-content">
            <video class="room-video" poster="{{ room.poster }}" loop preload="none" data-play-status="pause">
                <source src="{{ room.video }}" type="video/mp4">
            </video>
           
        </div>
        {% if room.id == 1 %}
        {% else %}
        <span class="{{ room.frame.top }} brush-frame hidden-xs"></span>
        {% endif %}
        <div class="room-description {% cycle 'gradient-right', 'gradient-left' %}">
            <span class="{{ room.frame.bottom }} brush-frame hidden-lg hidden-md  hidden-xs"></span>
            <div class="room-text {% cycle 'room-right', 'room-left' %}">
                <div class="room-title">
                    <div class="pull-left room-icon" style="background-position: {{ room.icon.position }} "></div>
                    <h2>{{ room.title}}</h2>
                </div>

                {{ room.description }}

                
                <h4>BRANCH: {{ site.branches | where:'slug',room.branch.slug | map: 'name' | first | upcase}}</h4>
                {% if room.branch.slug=='century' or  room.branch.slug=='eastwood' %}
                    {% if room.branch.slug=='eastwood' %} 
                        {% if room.mysteryId== 29 or room.mysteryId== 33 %} 
                        <a class="book-now" href="https://booknow.mysterymanila.com/?myst_id={{room.mysteryId}}" target="_blank">
                            <button class="btn btn-success">BOOK NOW</button>
                            
                        </a>
                        {% else %}
                            <span style="color:red">Room closed until further notice. Please select a different room to play</span>
                        {% endif %}
                    {% else %}  
                        {% if room.mysteryId == 15 %}
                            <!-- <h1 class="text-danger" style="z-index: 2;">PROMO ALERT: Price 300 per head </h1> -->
                            <span style="color:red">Room closed until further notice. Please select a different room to play</span>
                        {% else %}
                        <a class="book-now" href="https://booknow.mysterymanila.com/?myst_id={{room.mysteryId}}" target="_blank">
                            <button class="btn btn-success">BOOK NOW</button>
                            
                        </a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <span style="color:red">Branch closed until further notice. Please select a different branch to play</span>
                {% endif %}
            </div>
        </div>
        <span class="{{ room.frame.bottom }} brush-frame hidden-xs"></span>

    </div>
    {% endif %}
    {% endfor %}
</div>