<div class="teaser-content">
    <div class="container">
        {% if page.slug != "newport" %}
        <h1 class="stylized teaser-head">Choose your Mystery</h1>
        {% else %}
        <div class="row">
            <div class="teaser-content">
                <h1 class="stylized teaser-head">Can you survive the haunted rooms?</h1>
                <p class="teaser-description" style="color:white">
                    Walk through a series of mysterious rooms haunted by malevolent spirits. Along the way, search and solve for several dark relics, as you try to survive and escape.
                <p style="text-align: center; color: #fff;">Brought to you by Mystery Manila and 
                
                    <br /><img id="brand-logo" class="" style="height: 100px;"src="/img/newport.png"/>
                </p>

                    <p class="teaser-description" style="padding-top: 0;color:#fff;">
                        - Feb 2, 2023.
                        <br>- Groups of 1 - 7. Only P699 per head.
                        <br>- Games kick off every 5 minutes from 1:00pm to 10 PM Everyday.</p>

            </div>
        </div>
        {% endif %}
    </div>
</div>