---
layout: front
---

{% include front/cover.html %}
{% include front/sidebar.html %}
<div id="glass-container">
    <div id="glass" data-stellar-background-ratio="0.1" class="clearfix"></div>
    <!--<img id="glass-image" src="/img/scratches.png" data-stellar-ratio="1.5"/>-->
    <div id="about">
      {% include front/about.html %}
    </div>
    <div id="rooms">
        {% include front/rooms.html %}
    </div>
</div>
<div id="ig" class="clearfix" style="display: none">
  {%include front/instagram.html%}
</div>