---
layout: front
title: Home
css: /css/front.css
---

{% include front/cover.html %}
<div id="glass-container">
    <div id="glass" data-stellar-background-ratio="0.1" class="clearfix"></div>
    <div id="teaser">
        {% include front/teaser.html %}
    </div>
</div>
<div class="transparent-container">
    <div id="about-us">
        {% include front/about-us.html %}
    </div>
    <div id="branches">
        {% include front/branches.html %}
    </div>

    <!-- <div id="branches-details">
        {% include front/branches-details.html %}
    </div> -->

    <div id="faq">
        {% include front/faq.html %}
    </div>

    <div id="contact">
        {% include front/corporate.html %}
    </div>
    <div id="ig" class="clearfix">
        {%include front/instagram.html%}
    </div>


</div>
<div class="modal fade" id="overlay">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              
            </div>
            <div class="modal-body" style="text-align:center">
               <div class="row">
                   <div class="col-lg-6 col-sm-12">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" style="width: 100%!important;height: 200px!important;object-fit: cover;" src="img/events/intramuros/intramuros.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Investigating Intramuros</h5>
                                  <p class="card-text">An thrilling after dark mystery bike hunt</p>
                                  <a href="http://www.mysterymanila.com/events/intramuros" class="btn btn-primary">Check me out!</a>
                                  
                                </div>
                              </div>
                   </div>
                </div> 

              
            </div>
          </div>
        </div>
      </div>
