<div id="{{page.id}}" class="room clearfix">
    <div class="hero-content" data-stellar-ratio="0.7">
        <video width="100%" height="auto" poster="{{ page.image }}" autoplay loop >
            <source src="{{ page.video }}" type="video/mp4">
        </video>        
    </div>
    <div class="room-description">
        <span class="{{ page.frame.bottom }}"></span>
        <div class="container">
            <div class="{{ page.alignment }} col-md-6 clearfix room-text">
                <div class="room-title">
                    <img src="{{ page.icon }}" class="pull-left" />
                    <h2>{{ page.title}}</h2>
                </div>
                {{ page.description }}
                <h4>Location: {{ page.location }}</h4>
            </div>
        </div>
        <span class="{{ page.frame.top }}"></span>
    </div>
    
</div>