@font-face {
    font-family: LeviReBrushed;
    src: url(../../fonts/LeviReBrushed.ttf);
}
@import http://fonts.googleapis.com/css?family=Indie+Flower;
@import http://fonts.googleapis.com/css?family=Poiret+One;
@import http://fonts.googleapis.com/css?family=Amatic+SC;
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Rubik');
#login{
	margin:10%;
}
#inputerror{
	color:red;
	/*font-family: 'Rubik', sans-serif;*/
	/* font-family:LeviReBrushed; */
	font-size:20px;	
	text-align:center;
	vertical-align:middle;
}
#inputcode, #inputTeam{
	font-size:30px;
	/*font-family: 'Rubik', sans-serif;*/
	border:2px black solid;
	width:51%;
	text-align:center;
}
button{
	background-color:white;
	color:black;
	font-size:20px;
	font-family:'Rubik', sans-serif;	
	margin:3%;
}
button:hover{
	cursor:pointer;
	background-color:black;
	color:white;
}
.invalid {
    outline-color: red;
    /* also need animation and -moz-animation */
    animation: shake .5s linear;
    -webkit-animation: shake .5s linear;
}

input:invalid {
    border: 2px solid red;
}

/* also need keyframes and -moz-keyframes */
 @-webkit-keyframes shake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
#button1 {
     border:1px #333 solid;   
	 font-size: 20px;
	 font-family: Oswald;
    padding:10px;
	margin-right:4em;
	height:50px;
    background-color:white;
	border-radius:10px;
    box-shadow:0px 0px 10px #555;
	
	
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(78%, rgba(216,225,231,1)), color-stop(78%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

font-family:Roboto;
font-size:40px;
display: block;
margin-left: auto; 
margin-right: auto;
width:20em;
TEXT-DECORATION: NONE;

}
#button1:hover, #button2:hover {
    color:yellow;
    border-radius:10px;
    box-shadow:0px 0px 10px #555;
		background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(87%, rgba(44,44,44,1)), color-stop(92%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
/*#content {
	color: #000;
	width: 100%;
	margin: 0;	
	}
*/	
	h1 { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 100px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	h2 { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 30px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	h6 { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 20px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	
	p { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 80px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	a:visited{
	  color:red;
	}
	a:hover{
  color:red;
}
a:focus{
  color:red;
}
a:link {
    color: red;
	  text-decoration: none;
}


/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(../img/transparent.png);
	background-size: 200px 200px;

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;
	
	height: 800px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(../img/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}


	hr { width: 50%; margin: 25px auto; }
	body {background-color:white;}



	#logo {width: 200px; 	height: 200px;	text-align: center;}
	#mmlogo {width: 200px; 	height: 260px;	text-align: center;}/*white logo*/
	#mmlogo {width: 300px; 	height: 300px;	text-align: center;}/*black logo*/
	#main_image {width: 800px; 	height: 500px;	text-align: center;}
	#dp_image {width: 450px; 	height: 600px;	text-align: center;}
	#dp_image1 {width: 900px; 	height: 600px;	text-align: center;}
	#main_image_index {width: 450px; 	height: 400px;	text-align: center;}
	#clue {text-align: center;font-family:"arvo";font-weight:normal; font-size: 25px;color: #FFF;margin:0;}
	#story {text-align: center;font-family:"arvo";font-size:15px;}
	#h1_indexhtml {transform: rotate(-5deg);font-family:LeviReBrushed;}
	#aura{background-color:#11343E;}
	#h1_prologue {font-size: 100px;}
	#h1_dpstory {font-size: 60px;width:70%;text-align:center;position:block;margin-left: auto;
    margin-right: auto;}
	#h1_dpstory label {font-size:40px;color:orange;}
	/* #h1_dpstory label {font-family:LeviReBrushed;} */
	#h2_dpstory {font-size: 20px;width:70%;text-align:center;position:block;margin-left: auto;
    margin-right: auto;}

@media only screen and (max-width: 980px) { 
	#logo {width: 150px; 	height: 150px;	text-align: center;}
	#mmlogo {width: 100px; 	height: 130px;	text-align: center;}
	#main_image {width: 500px; 	height: 400px;	text-align: center;}
	#main_image_index {width: 150px; height: 150px;	text-align: center;}
	#clue {font-size: 15px;}
	#story {font-size:12px;}
	#h1_indextitle {font-size:50px;}
	#h1_dpstory {font-size: 30px;}
	#h1_dpstory label{font-size: 30px;}
	#h2_dpstory {font-size: 10px;}
	#dp_image {width: 300px; 	height: 400px;	text-align: center;}
	#dp_image1 {width: 500px; 	height: 400px;	text-align: center;}
	#dp_image_small {width: 300px; height: 100px;	text-align: center;}
}

@media only screen and (max-width: 540px) { 	
	#main_image {width: 240px; 	height: 200px;	text-align: center;}
	#dp_image {width: 240px; 	height: 300px;	text-align: center;}
	#dp_image1 {width: 300px; 	height: 200px;	text-align: center;}
	#dp_image_small {width: 240px; height: 100px;	text-align: center;}
	#h1_prologue {font-size: 50px;}
	h1{font-size:34px;}
	#h1_indextitle {font-size:34px;}
	#h1_dpstory {font-size: 20px;}
	#clue{font-size:15px;}
	#story {font-size:9px;}
	#h2_dpstory {font-size: 10px;}
	#inputcode, #inputTeam{
	font-size:20px;
	width:80%;
	
	}
}