<section id="card-details">
    <div class="container">
        <div class="row">
            <div class="card-details">
                <h2 class="section-header">HOW TO BUY?</h2>
                <p class="description text-center">Visit any Mystery Manila branch in Metro Manila (Libis, Jupiter, Century City Mall)</p>
                <a class="anchor" href="https://www.facebook.com/escapefromenigma" target="_blank">Message us on Facebook</a>
            </div>
            <div class="card-video">
                <h2 class="section-header">HOW TO PLAY?</h2>
                <iframe class="video-container" src="https://player.vimeo.com/video/157993264"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>