<section id="customer">
    <div class="container">
        <div class="row">
            <div class="customer-content">
                <h2 class="section-header">QUESTION/SUGGESTION?</h2>
                <p class="description">Have some questions on the rules? Want to discuss game strategies further? Like us on <a href="https://www.facebook.com/escapefromenigma" target="_blank">Facebook</a> and message us.</p>
            </div>
            <div class="credit-section">
                <h2 class="section-header">CREDITS</h2>
                <h3 class="credit-header text-center">Game Design</h3>
                <h4 class="credit-name text-center">-Errol Magdato</h4>
                <h3 class="credit-header text-center">Art</h3>
                <h4 class="credit-name text-center">-Ysa Bondoc</h4>
                <h3 class="credit-header text-center">Game Testers:</h3>
                <h4 class="credit-name text-center game-tester">Kimbee Magdato, Chuck Chang, Marge Chang, Lyca Cabajar, Jam Asuncion, Arly Avellana, Donat Avellana, Jensen Nuguid, Rea Fami, Gem Garcia, Christian Vergara, Zenia Cuaresma, Kat Sanchez, Eric Valmonte, Jay Castillo, Joshua Lao</h4>
            </div>
        </div>
    </div>
</section>