<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">1 EXIT. 1 TOOL. 1 MASTERMIND</h2>
                <h2 class="teaser-header">Can you escape?</h2>
                <p class="teaser-description">You have all been trapped in a room by the psychopath Enigma. There’s only one means of escape and you must get the correct tool to unlock the exit. Only one person can escape while the rest will perish. Beware as you do not know the other players’ identities and Enigma might just be one of them
                    <br/><br/> A highly-addictive game of strategy, deduction and deception from the creators of</p>
                <img id="brand-logo" src="/img/mystery-logo.png"/>
            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>