
<section id="customer" class="my-4" style="padding: 30px; background-color: transparent;">
  <div id="background-overlay"></div>
<div class="row pt-4">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center" style="padding-bottom: 20px;">
        <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;margin: 0 0 20px 0;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
</div>
<style>
  .promilFaq p {
    font-size: small;
    padding-bottom: 10px;
    font-family: 'Gotham-Light';
   }
  .promilFaq h2 { 
    text-align: center;
    margin-top: 20px;
    font-family: 'Gotham-Bold';
  }
</style>

<div class="row my-4 promilFaq">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light">
      
        <h4>  
          What is the Clever Crew?
        </h4>
        <p>-   
          The Clever Crew is Mystery Manila’s 5-day workshop, accepting kids ages 5 through 10! For P3,499, kids will get an exclusive Mystery Solved shirt, tote bag, and a complete set of materials for card and board game making.
        </p>
        <h4>
          How long is the workshop? 
        </h4>
        <p>- 
          Clever Crew is a 5-day workshop. Each session is 90 minutes long, from 10:30AM to 12:00NN. Choose from the ff batches: 
          <br>July 8-12
          <br>July 15-19
          <br>July 22-26
        </p>
        <h4>
          How many kids are there per batch?
        </h4>
        <p>- 
          here will be a maximum of 10 students per session. 
        </p>
        <h4>
          What is the age requirement?
        </h4>
        <p>- Kids need to be 5 to 12 years old.
        </p>
        <h4>
          Where will this take place?
        </h4>
        <p>- 
          Sessions will be held at Mystery Manila, 3F Century City Mall, Makati City.
        </p>
        <h4>
          What if we booked already but something comes up and we can't go to the workshop?
        </h4>
        <p>- 
          It will be counted as a no show and there will be no refunds for this. 
        </p>
        <h4>
          What activities are there?
        </h4>
        <p>- 
          Kids will be able to play in our mystery rooms, experience being a Mystery Manila gamekeeper, and also make their own card game and board games. All while making new friends and having fun!
        </p>
        <h4>
          Who will be with my child?
        </h4>
        <p>- 
          2 Mystery Manila gamekeepers will be with them at all times. 
        </p>
        <h4>
          What else will be taught to my child?
        </h4>
        <p>- 
          They will be nurturing skills such as collaboration, hard work, confidence, innovation, and appreciation. They will get the chance to interact with their classmates and teachers. In turn, they will develop essential life skills, such as cooperation, patience, and problem solving.
        </p>
        
          <h4>
            What does my child need to bring?
          </h4>
          <p>- 
            Just their water bottle and extra shirts
          </p>
          
          <h4>
            What happens if they need to use the restroom?
            </h4>
          <p>- 
            A teacher can accompany them to the Century City Mall restroom if needed. However, please ask them to use the restroom already before classes start.
          </p>
          <h4>
            Can I stay with my child during the sessions?
          </h4>
          <p>- 
            No, parents and/or guardians may not stay with the kids while a session is ongoing. There's a bench on the other side of the branch where guardians can stay. 
            </p>

            

          
    </div>
    <div class="col-lg-2 col-sm-0 "></div>
  </div>
  
</section>