<style>
    #card-image{ 
        margin: 50px 0;
    }
    
    </style>
    <section id="card-image">
        <div class="container mb-4">
            <div class="row" style="padding: 20px 10px">
               <div class="col-6"><img src="../../../img/clevercrew/1.png" alt=""></div>
               <div class="col-6 text-center" style="background: #FAF5EF;color:black;"><p>Calling All Kids!<br>
                Join Mystery Manila's Clever Crew, a 5-day summer bootcamp designed to teach kids aged 5 to 12 about collaboration, hard work, confidence, innovation, and appreciativeness.
                <br><br>
                Kids learn while having fun as they play in our mystery rooms, experience being a gamekeeper, make their own board games, and so much more.
                <br>
                Hurry and sign up now!</p>
                <a href="https://store.mysterymanila.com/products/?id=14" class="btn btn-primary btn-lg active mb-4" role="button" aria-pressed="true">BOOK NOW</a>
            </div>
    
            </div>
        </div>
    </section>
    