<section id="teaser" style="background-color: #F5DCBB">
    <!-- <div id="brush-top"></div -->
    <style>
       .teaser-description-promil p{ 
        font-size: 18px;
       }
        .teaser-description{ padding: 0; color:#AA0354}
        .teaser-card-img {
            width: 620px;
        }
       
        
    </style>
    <div class="container container-promil">
        <div class="row">
            <div class="col-12">
                <div class="teaser-content">
                    <h2 class="teaser-header-promil color-black"><b>CALLING ALL KIDS!</b></h2>
                   <div class="row" style="margin-top: 40px;">
                    <style>
                        .teaser-card-img{
                            width: 100%;
                        }
                        .teaserButton{
                            padding:16px;
                        }
                        
                        @media (max-width: 576px) { 
                            .teaserButton{
                                padding:32px 16px;
                            }   
                        }

                    </style>
                    <div class="col-lg-6 text-center"><img src="../img/clevercrew/5.png" class="teaser-card-img" alt=""></div>
                    <div class="col-lg-6 text-justify">
                        <p class="teaser-description teaser-description-promil gotham-light text-light color-black">
                            <span class="gotham-bold">WELCOME, SUPER KIDDOS!</span><br><br>
                            Join Mystery Manila's Clever Crew, a 5-day summer bootcamp designed to teach kids aged 5 to 12 about collaboration, hard work, confidence, innovation, and appreciativeness.<br><br>
                            
                            Kids learn while having fun as they <span class="gotham-bold">play in our mystery rooms, experience being a gamekeeper, make their own board games, and so much more</span><br><br>
                            
                        
                            <span class="gotham-bold">Kid's Summer Bootcamp Inclusions:</span><br>    
                            - Clever Crew Shirt<br>
                            - Mystery Manila Game for the Kids<br>
                            - Complete set of materials to build their own card game and board games<br>
                            - Customer Engagement Module<br>
                            
                            <a href="https://store.mysterymanila.com/products/?id=14" class="btn btn-block" target="_blank" style="color:white;background: green;font-family: Gotham-Bold;">BOOK NOW</a>
                        </p>
                    </div>
                    
                   </div>
    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/1.png" class="teaser-card-img" alt=""></div>
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/4.png" class="teaser-card-img" alt=""></div>
                    
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/3.png" class="teaser-card-img" alt=""></div>
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/6.png" class="teaser-card-img" alt=""></div>
                    
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/7.png" class="teaser-card-img" alt=""></div>
                <div class="col-lg-6 text-center"><img src="../img/clevercrew/8.png" class="teaser-card-img" alt=""></div>
                    
            </div>
        </div>
        <div class="row">
            <div class="col-12 teaserButton">
                <a href="https://store.mysterymanila.com/products/?id=14" class="btn btn-block" target="_blank" style="color:white;background: green;font-family: Gotham-Bold;">BOOK NOW</a>
                    
            </div>
        </div>
    </div>
    <!-- <div id="brush-bottom"></div> -->
</section>
