<footer id="footer-header" class="clearfix" >
  <p>FEATURED ON</p>
    <div id="featured-icon">
        <ul>
            <li>
              <a href="#thumb"><img src="{{ 'img/featured/ABSCBN.png' | prepend: site.baseurl }}"/></a>
            </li>

            <li>
              <a href="#thumb"><img src="{{ 'img/featured/OAP.png' | prepend: site.baseurl }}"/></a>
            </li>

             <li>
              <a href="#thumb"><img src="{{ 'img/featured/WIM.png' | prepend: site.baseurl }}"/></a>
            </li>

             <li>
              <a href="#thumb"><img src="{{ 'img/featured/GMA.png' | prepend: site.baseurl }}"/></a>
            </li>
        </ul>
    </div>

    <div id="brand-logo">
      <button class="btn-mystery" onclick="scrollToTop()">
        <img src="{{ 'img/brand-logo.png' | prepend: site.baseurl }}"/>
      </button>
      <p><span class="glyphicon glyphicon-copyright-mark"></span> Mystery Manila 2015 / Design and direction by Crux Design Studio</p>
    </div>
</footer>
