<footer id="footer-header" class="clearfix" >
  <p>FEATURED ON</p>
    <div id="featured-icon">
        <ul>
            <li>
              <a href="#thumb"><img src="{{ 'img/ABSCBN.png' | prepend: site.baseurl }}"/></a>
            </li>

            <li>
              <a href="#thumb"><img src="{{ 'img/OAP.png' | prepend: site.baseurl }}"/></a>
            </li>

             <li>
              <a href="#thumb"><img src="{{ 'img/WIM.png' | prepend: site.baseurl }}"/></a>
            </li>

             <li>
              <a href="#thumb"><img src="{{ 'img/GMA.png' | prepend: site.baseurl }}"/></a>
            </li>
        </ul>
    </div>

    <div id="brand-logo">
      <button class="btn-mystery" onclick="scrollToTop()">
        <img src="{{ 'img/brand-logo.png' | prepend: site.baseurl }}"/>
      </button>
    </div>
</footer>
