<nav id="work-navbar" class="navbar navbar-fixed-top navbar-default navbar-visible">
    <div class="nav-container">
        <div class="navbar-header">
                <div id="home-nav" class="navbar-brand">
                    <a href="/"> 
                        <img src="/img/brand-logo.png" class="brand-logo-small"/>
                        <span id="nav-title" class="hidden-xs">MYSTERY MANILA</span>
                    </a>
                </div>  
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>   
        </div>   
        <div class="navbar-collapse collapse" id="nav-links">
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a class="navbar-item" href="#branch">MYSTERIES</a></li>
                        <li><a class="navbar-item" href="#faq">FAQ</a></li>
                        <li><a class="navbar-item" href="#about-us">ABOUT US</a></li>
                        <li><a class="navbar-item" href="#contact">CORPORATE</a></li>
                        <li><a href="/games/">GAMES</a></li>
                    </ul>
                </div>
        </div>
                
    </div>
</nav>