<nav id="work-navbar" class="navbar navbar-fixed-top navbar-default navbar-visible" style="width: 100vw;">
    <div class="nav-container">
        <div class="navbar-header">
            <div id="home-nav" class="navbar-brand">
                <a href="/">
                    <img src="/img/brand-logo.png" class="brand-logo-small"/>
                    <span id="nav-title" class="hidden-xs">MYSTERY MANILA</span>
                </a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!--<h1>{{ page.url }}</h1>-->
        <div class="navbar-collapse collapse" id="nav-links">
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    {% if page.url == "/" or page.url == "/index.html" or page.url == "index.html" %}
                    <!-- <li class="navbar-menu"><a class="navbar-item" href="events/promil">PROMIL<sup>&reg;</sup></a></li> -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">BRANCHES
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            
                            {% for branches in site.branches-room %}
                            {% if branches.slug=="jupiter" or branches.slug=="qc"  %}

                            {% else %}
                            <li>
                                <a href="/branch/{{ branches.slug }}">{{ branches.title | upcase }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCTS
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/games/">Board/Card Games</a>
                            </li>
                            <!-- <li>
                                <a href="https://store.mysterymanila.com/products/?id=12">Mystery Pass</a>
                            </li> -->
                            <!-- <li>
                                <a href="/games/">Murder Mystery Sets</a>
                            </li> -->
                            <li>
                                <a href="http://www.murdermanila.com">Murder Manila</a>
                            </li>
                        </ul>
                    </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTS
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/events/terrorinthetheater">Terror in the Theater II , Century City Mall, Poblacion, Makati City</a>
                                </li>
                                <li>
                                    <a href="/events/intramuros">Intramuros Investigation III | Plaza Luis, Intramuros, Manila City</a>
                                    
                                </li>
                                <li>
                                    <a href="/events/clowns">Curse of the Clowns | The Dessert Museum, S Maison, Pasay City</a>
                                    
                                </li>
                                <li>
                                    <a href="/branch/newport">Haunted Hallways | Mystery Manila, Newport Mall, Pasay City</a>
                                    
                                </li>
                            </ul>
                        </li>
                                    <!-- <li>
                                        <a href="/events/intramuros">Intramuros Investigation II | Plaza Luis, Intramuros</a>
                                        
                                    </li> -->
                                    <!-- <li >
                                            <a href="/events/mysterymuseum">EASTWOOD MUSEUM OF MYSTERY</a>
                                    </li> -->
                    <!--<li class="navbar-menu"><a class="navbar-item" href="#branch">MYSTERIES</a></li>-->
                    <li class="navbar-menu"><a href="http://www.murdermanila.com">MURDER MANILA</a></li>
                    <li class="navbar-menu"><a class="navbar-item" href="#about-us">ABOUT US</a></li>
                    <li class="navbar-menu"><a class="navbar-item" href="#faq">FAQ</a></li>
                    <li class="navbar-menu"><a class="navbar-item" href="#contact">CORPORATE</a></li>
                    
                    
                    <!-- <li><a href="/promos/">PROMOS</a></li> -->

                    {% else %}
                    <!-- <li class="navbar-menu"><a class="navbar-item" href="/events/promil">PROMIL<sup>&reg;</sup></a></li> -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">BRANCHES
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for branches in site.branches-room %}
                                {% if branches.slug=="century" or branches.slug=="eastwood"  %}
                                <li>
                                    <a href="/branch/{{ branches.slug }}">{{ branches.title | upcase }}</a>
                                </li>                        
                               
                                {% endif %}
                                {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTS
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/events/terrorinthetheater">Terror in the Theater II , Century City Mall, Poblacion, Makati City</a>
                            </li>
                            <li>
                                <a href="/events/intramuros">Intramuros Investigation III | Plaza Luis, Intramuros, Manila City</a>
                                
                            </li>
                            <li>
                                <a href="/events/clowns">Curse of the Clowns | The Dessert Museum, S Maison, Pasay City</a>
                                
                            </li>
                            <li>
                                <a href="/branch/newport">Haunted Hallways | Mystery Manila, Newport Mall, Pasay City</a>
                                
                            </li>
                        </ul>
                    </li>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTS
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/events/evilsofenigma.html">Evils of Enigma, Uptown Mall BGC,  Taguig</a>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">EVENTS
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/events/deathatdinner">Murder Manila Pop Up Store | Forbes Town Center, BGC,  Taguig</a>
                                </li>
                               
                            </ul>
                    </li> -->
                    <!--<li class="navbar-menu"><a href="../../#branch">MYSTERIES</a></li>-->
                    <!-- <li class="navbar-menu"><a class="navbar-item" href="../games/">PRODUCTS</a></li> -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PRODUCTS
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/games/">Board/Card Games</a>
                            </li>
                            <!-- <li>
                                <a href="https://store.mysterymanila.com/products/?id=12">Mystery Pass</a>
                            </li> -->
                           
                        </ul>
                    </li>
                    
                    <li class="navbar-menu"><a href="http://www.murdermanila.com">MURDER MANILA</a></li>
                    <li class="navbar-menu"><a href="../../#about-us">ABOUT US</a></li>
                    <li class="navbar-menu"><a href="../../#faq">FAQ</a></li>
                    <li class="navbar-menu"><a href="../../#contact">CORPORATE</a></li>


                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>