
/* variables */

/* colors */
$white: #fff;
$black: #000;
$levi-text: LeviReBrushed;

@font-face {
  font-family: LeviReBrushed;
  src: url(/fonts/LeviReBrushed.ttf);
}

.brand {
  font-family: "futura-pt";
}


body {
  font-family: 'Gotham SSm A', 'Gotham SSm B', 'sans-serif';
  font-size: 17px;
  font-weight: 400;
  background-color: $black !important;
  background-image: url(/img/mystery-wall.jpg);


}

header {
  border: 0 !important;
}

h2.section-header {
  font-family: "futura-pt", sans-serif;
  letter-spacing: 2px;
}

.brand {
  font-family: "futura-pt", sans-serif;
  letter-spacing: 1px;
}

/*header style */

nav {
  font-family: "futura-pt",sans-serif;
  &#work-navbar{
    background-color: $black;
    border-color: transparent;

  &.navbar-visible {
    top: 0;
  }

  &.navbar-hidden {
    top: -100px;
  }

  &.navbar {
    min-height: 68px;
    transition: linear 0.25s;
  }

    a {
      color: $white;
      text-decoration: none;
    }

    .nav-container {
      margin: 0 12px;
      padding-top: 0;
      padding-bottom: 0;
    
      .navbar-header{

        .navbar-brand {
          height: 66px;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 55px;

          a {

            img {
              top: auto;
              margin-top: 15px;
              float: left;

              &.brand-logo-small {
                height: 43px;
              } 
            }

            #nav-title {
              float: left;
              margin: 7px 0px 0px 15px;
              letter-spacing: 1px;
              font-size: 24px;
            } 
          }

        }

        button {
          margin-top: 20px;
        }

      }/* end of navbar-header */

      .navbar-collapse {
        border-color: transparent;

        .navbar-right {
          margin-right: 15px;

          ul {
            &.nav {
              padding-right: 0;
              width: 100%;

              li {
                padding: 25px 8px 0px 8px;
                margin-top: 0px;

                a {
                  display: inline;
                  padding: 0;
                  color: $white;
                  font-size: 20px;
                  letter-spacing: 3px;
                }

                &:not(:last-child) {
                  margin-right: 65px;
                }
              }
            }

          }

        }

      } 

    }/* end of navbar-container */

  }/* end of work-navbar */
}/* end of nav */

/*cover style */
#cover {
  min-height: 760px;
  width: 100%;

  .m-logo-container {
    padding: 75px 0px 0px 0px;
    min-height: 570px;
    min-width: 100%;

    #m-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 300px;
      min-height: 200px;
      margin-top: 32px;
    }

  } 

}

/*teaser style */

#teaser {
  color: $white;
  background-color: $black;
  text-align: center;
  z-index: 36;
  position: relative;

  #cover-brush {
    position: relative;
    min-height: 260px;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 36;
    background-size: 200% 100%;
    background-color: transparent;
    background-image: url("/img/brush-edges/coverbrush.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .teaser-content{
    margin-top: -175px;

      .container{

          .stylized {
            font-family: $levi-text;
          }

          .teaser-head {
            font-size: 54px;
            transform: rotate(-5deg);
          }
      }

         .teaser-caption{
            margin-top: 72px;
         } 

          .teaser-btn-scroll{
            height: 75%;
            margin-top: 72px;
          }

          img {  
            &.btn {
              opacity: 0.5;
              transition: opacity 0.5s;
              cursor: pointer;

              &:hover,
              &:active {
                opacity: 1;  
              }
            }
          }

          span {
            &.teaser-brush-frame {
              height: 150px;
              bottom: -150px;
              background-image: url(/img/brush-edges/Top_2.png);
              background-position: bottom;
            }
          }
  }
}

/*sidebar style */
#sidebar {
  width: 60px;
  position: fixed;
  top: 100px;
  right: -150px;
  list-style: none;
  z-index: 9999;
  padding: 0;
  margin: 0;
  float: right;
  transition: linear 0.25s;

  &.sidebar-hidden {
    right: -150px;
  }
  &.sidebar-visible {
    right: 24px;
  }

  .sidebar-item {
    position: relative;
    right: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s;

    &:active,
    &:hover {
      opacity: 1;
    }
  }
}

.room-icon{
  background-repeat: no-repeat;
  background-image: url('/img/rooms/rooms-sprite.png');

  &.sidebar-item{
    height: 50px;
    width: 50px;
    background-size: 156px;
  }
}

/*rooms styles */
div#rooms {
  color: $white;
  background-color: $black;

  .room {
    /*height: 100vh; */
    background-color: $black;
    position: relative;

    .room-icon {
      width: 77px;
      height: 77px;
      margin-top: 6px;
    }

    .hero-content {
      position: relative;

      .room-video {
        height: auto;
        width: 100%;
      }
    }

    .room-description {
      min-height: 200px;
      top: -100px;
      background-color: $black;
      position: relative;
      z-index: 36;

      span {

        &.top-brush-frame-1 {
          height: 300px;
          background-image: url(/img/brush-edges/Top_5.png);
          background-position: bottom;
        }

        &.top-brush-frame-2 {
          height: 250px;
          background-image: url(/img/brush-edges/Top_2.png);
          background-position: bottom;
        }

        &.top-brush-frame-3 {
          height: 175px;
          background-image: url(/img/brush-edges/Top_3.png);
          background-position: bottom;
        }

        &.top-brush-frame-4 {
          height: 200px;
          background-image: url(/img/brush-edges/Top_4.png);
          background-position: bottom;
        }

        &.top-brush-frame-5 {
          height: 200px;
          background-image: url(/img/brush-edges/Top_1.png);
          background-position: bottom;
          /* -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1);
          transform: scaleX(-1);
          -ms-filter: "FlipH";
          filter: FlipH; */
        }

        &.top-brush-frame-6 {
          height: 309px;
          background-image: url(/img/brush-edges/Top_6.png);
          background-position: bottom;
        }

        &.bottom-brush-frame-1 {
          height: 200px;
          top: -150px;
          background-image: url(/img/brush-edges/Bottom_1.png);
          background-position: top;
        }

        &.bottom-brush-frame-2 {
          height: 200px;
          top: -150px;
          background-image: url(/img/brush-edges/Bottom_2.png);
          background-position: top;
        }

        &.bottom-brush-frame-3 {
          height: 200px;
          top: -150px;
          background-image: url(/img/brush-edges/Bottom_3.png);
          background-position: top;
        }

        &.bottom-brush-frame-4 {
          height: 200px;
          top: -150px;
          background-image: url(/img/brush-edges/Bottom_4.png);
          background-position: top;
        }

        &.bottom-brush-frame-5 {
          height: 300px;
          top: -250px;
          background-image: url(/img/brush-edges/Bottom_5.png);
          background-position: top;
        }

        &.bottom-brush-frame-6 {
          height: 200px;
          top: -150px;
          background-image: url(/img/brush-edges/Bottom_6.png);
          background-position: top;
        }
      }

      .container {

        .room-text {
          margin-top: -150px;        

          .room-title {
            display: inline-block;

            img {
              height: 100px;
              width: auto;
              float: left;
            }

            h2 {
              float: left;
              margin-top: 36px;
              padding-left: 15px;
              vertical-align: bottom;
              font-family: $levi-text;
              font-size: 48px;
            }
          }

          h4 {
            padding-top: 24px;
            margin-bottom: 24px;
            font-weight: 700;
          }
          img#book-arrow{
              transform: rotate(-90deg);
              vertical-align: middle;
            }
          a, a:hover, a:visited {
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }

  }/* end of room */
}/* end of rooms */

.top-brush-frame-1, .top-brush-frame-2, .top-brush-frame-3, .top-brush-frame-4, .top-brush-frame-5, .top-brush-frame-6,
.bottom-brush-frame-1, .bottom-brush-frame-2, .bottom-brush-frame-3, .bottom-brush-frame-4, .bottom-brush-frame-5, .bottom-brush-frame-6,
.teaser-brush-frame {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  left: 0;
  right: 0;
}

.transparent-container{
  background: rgba(0,0,0,0.8);
  color: #ffffff;

  #ig {
    #ig-header {
      text-align: center;
      padding-top: 192px;
      font-size: 21px;
      margin: 23px 42px;
      color: $white;
    }

    #instafeed{
      padding-bottom: 80px;
      a {
        padding-bottom: 20px; 
        img {
          display: block;
          max-width: 100%;
          height: auto;
          margin: auto;
        } 
      }
    } 
  }
  #faq {
    line-height: 2.5;
    padding-top: 32px;
    h2 {
      text-align: center;
    }
    .answer{
      font-weight: 300;
      font-size: 16px;
    }
    .questions {
      list-style: none;
      margin-left: 0;
      .active {
        font-weight: 700;
      }
      li {
        padding-left: 15px;
        margin-left: 2px
      }
      li:hover, .active{
        border-left: 2px solid #FFF;
        margin-left: 0;
      }
      li a {
        color: #fff;
        line-height: 2;
      }
      li a:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
  #contact {
    padding-top: 72px;
    padding-bottom: 32px;
    #email-us{
      text-align: center;
      margin-bottom: 4rem;
      h1{
        word-break: break-all;
      }
    }
    .mailchimp-container{    
      margin-bottom: 4rem;
      text-align: center;
      #mc-embedded-subscribe{
        background-color: transparent;
        border-radius: 0;
        border: 2px solid #fff;
        color: #fff;
      }
    }
    .corporate-content{
      text-align: center;
      font-weight: 300;      
      margin-bottom: 4rem;
      *{
        margin-bottom: 12px;
      }
    }
  }

}

/* About-us style */
#about-us {
  margin: 0;
  padding: 0 0 50px 0;
  background: rgba(0,0,0,0.8);  
  color: darken(#fff, 5%);
  #about-content {
    padding: 72px 0 0;
    h2 {
      text-align: center;
      margin: 0;
      padding-bottom: 30px;

    }
    p {
      text-align: center;
      line-height: 1.75;
      font-size:17px;
      margin: 0;
    }
  }
}

/*branches style*/
#branches {
  margin: 0;
  padding: 0 0 50px 0;
  background: rgba(0,0,0,0.8);
  color: darken(#fff, 5%);

  font-weight: 300;
  .container {
    h2 {
      text-align: center;
      padding-bottom: 30px;
    }

    .row {
      .col-md-6{
        address {
          font-size:16px;
          line-height: 1.5;
        }
        p {
          font-size:17px;
          margin: 0;
        }
      }
    }

  }
}



/* footer style */
footer {
  &#footer-header {
    background: #000;
    text-align: center;

    h2 {
      color: $white;
      font-weight: 400;
      padding-top: 40px;
    }

    #featured {
      ul {
        margin: 0px;
        padding: 0px;
        li {
          padding: 35px 40px 30px;
          margin-top: 0px;
          text-align: center;
          display: inline-block;
          list-style-type: none;
          vertical-align: middle;
          a {
            height: 167px;
            display: inline-block;
            background-image: url('/img/featured/featured-sprites.png');
            background-repeat: no-repeat;
            opacity: 0.5;
            transition: opacity 0.5s;
            &:hover,
            &:active {
              opacity: 1;
            }
          }
        }
      }
    }

    #brand-logo {
      text-align: center;
      padding: 90px 0px 30px 0px;

      img {
        height: 70px;
      }

      p {
        text-align: center;
        font-size: 14px;
        padding-top: 20px;
        color: $white;
      }

    }
  }

  #social-media-widgets {
    margin: 70px 0 40px;
    ul {
      margin: 0;
      padding: 0;
      li {
        padding: 0px 10px 0px 10px;
        margin-top: 0px;
        text-align: center;
        display: inline-block;
        list-style-type: none;
        vertical-align: middle;
      }
    } 
  }
}

#glass {
  background-image: url("/img/scratches.png");
  position: absolute;
  background-repeat: repeat-y;
  width: 100%;
  z-index: 1000;
  background-size: contain;
  pointer-events: none;
}

/*Media Queries */
 
@media screen and (max-width: 1200px) {
  #cover {
    min-height: 700px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1000px) {
  #cover {
    .m-logo-container{
      #m-logo {
        max-height: 480px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .navbar-header {
    float: none;
  }
  .navbar-left, .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
     li {
      float: none;
      margin-bottom: 11px;
       a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
  .collapse.in {
    display: block !important;
  }
}
 
@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }

  div#rooms {
    .room {
      .room-description {
        span {
          &.bottom-brush-frame-2,
          &.bottom-brush-frame-1 {
            top: -70px;
          }
        }

        .container {
          .room-text {
            margin-top: 30px;
          }
        }
      }

    }
  }

}

@media screen and (max-width: 762px) {
  #cover {
    position: relative;
    overflow-x: hidden;
  }
}



@media screen and (max-width: 648px) {

  div#rooms {
    .room {
      .room-description {
        span {
          &.bottom-brush-frame-2,
          &.bottom-brush-frame-1 {
            top: -45px;
          }
          &.top-brush-frame-3 {
            bottom: -162px;
            height: 164px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 539px){
  #email-us{
    h1{
      font-size: 33px;
    }
  }
}

@media screen and (max-width: 530px) {
  nav {
    &#work-navbar {
      .nav-container {
        .navbar-header {
          .navbar-brand {
            a {
              #nav-title {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 500px){
  #email-us{
    h1{
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 460px){
  #email-us{
    h1{
      font-size: 28px;
    }
  }
}

@media screen and (max-width: 432px){
  #email-us{
    h1{
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 373px){
  footer#footer-header #featured ul li{
    padding: 35px 10px 30px
  ;
  }
}

@media screen and (max-width: 392px){
  #email-us{
    h1{
      font-size: 18px;
    }
  }
}


