@import "bootstrap.min";

@font-face {
  font-family: Gotham;
  src: url(/fonts/gotham/GOTHAM01.TTF);
}


@font-face {
  font-family: LeviReBrushed;
  src: url(/fonts/LeviReBrushed.ttf);
}


body {
  background-color: black !important;
  font-family: Gotham;
}

header {
  border: 0 !important;
}

/*header style */

nav {
  &#work-navbar{
    background-color: black;
    border-color: transparent;

  &.navbar-visible {
    top: 0;
  }

  &.navbar-hidden {
    top: -100px;
  }

  &.navbar {
    min-height: 68px;
    transition: linear 0.25s;
  }

    a {
      color: white;
      text-decoration: none;
    }

    .nav-container {
      margin: 0 12px;
      padding-top: 0;
      padding-bottom: 0;
    
      .navbar-header{

        .navbar-brand {
          height: inherit;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 55px;

          a {

            img {
              top: auto;
              margin-top: 15px;

              &.brand-logo-small {
                height: 43px;
              } 
            }

            #nav-title {
              float: right;
              margin: 11px 0px 0px 15px;
              letter-spacing: 1px;
              font-size: 20px;
            } 
          }

        }

        button {
          margin-top: 20px;
        }

      }/* end of navbar-header */

      .navbar-collapse {
        border-color: transparent;

        .navbar-right {
          margin-right: 15px;

          ul {
            &.nav {
              padding-right: 0;
              width: 100%;

              li {
                padding: 27px 8px 0px 8px;
                margin-top: 0px;

                a {
                  display: inline;
                  padding: 0;
                  color: white;
                  font-size: 16px;
                  letter-spacing: 3px;
                }

                &:not(:last-child) {
                  margin-right: 65px;
                }
              }
            }

          }

        }

      } 

    }/* end of navbar-container */

  }/* end of work-navbar */
}/* end of nav */

/* #header>.site-nav {
  text-decoration: none;
  color: white;
  font-size: 20px;
} */

/*cover style */
#cover {
  min-height: 760px;
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("/img/Wall%20Texture%20Blurred.png");
  background-size: cover;

  #magnifying-glass {
    position: absolute;
    right: 0;
    top: 100px;
    display: block;
    width: 50%;
    height: auto;
    max-width: 850px;
    min-width: 355px;
  }

  .m-logo-container {
    padding: 125px 0px 0px 0px;
    min-height: 570px;
    min-width: 100%;

    #m-logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height: 300px;
      min-height: 200px;
    }

  } 

}

/*About style */

#about {
  color: white;
  background-color: black;
  text-align: center;
  z-index: 36;
  position: relative;

  #cover-brush {
    position: relative;
    min-height: 260px;
    top: -200px;
    left: 0;
    right: 0;
    z-index: 36;
    background-size: 200% 100%;
    background-color: transparent;
    background-image: url("/img/coverbrush.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .about-content{
    margin-top: -175px;

      .container{

          .stylized {
            font-family: LeviReBrushed;
          }

          .about-head {
            font-size: 54px;
            transform: rotate(-5deg);
          }
      }

         .about-caption{
            margin-top: 72px;
         } 

          .about-btn-scroll{
            height: 75%;
            margin-top: 72px;
          }

          .btn {
            opacity: 0.5;
            transition: opacity 0.5s;
            cursor: pointer;

            &:hover,
            &:active {
              opacity: 1;  
            }
          }
  }

}

/*sidebar style */
#sidebar {
  width: 60px;
  position: fixed;
  top: 100px;
  right: -150px;
  list-style: none;
  z-index: 9999;
  padding: 0;
  margin: 0;
  float: right;
  transition: linear 0.25s;

  &.sidebar-hidden {
    right: -150px;
  }
  &.sidebar-visible {
    right: 24px;
  }

  .sidebar-item {
    position: relative;
    right: 0;
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s;

    &:active,
    &:hover {
      opacity: 1;
    }
  }
}


/*rooms styles */
div#rooms {
  color: white;
  background-color: black;
}

.room {
  /*height: 100vh; */
  background-color: black;
  position: relative;
}

.room-text {
  margin-top: -150px;
}

.room-text .room-title {
  display: inline-block;
}

.room-text .room-title > img {
  height: 100px;
  width: auto;
  float: left;
}

.room-text .room-title > h2 {
  float: left;
  margin-top: 36px;
  padding-left: 15px;
  vertical-align: bottom;
  font-family: LeviReBrushed;
  font-size: 48px;
}

.room-text h4 {
  padding-top: 36px;
  margin-bottom: 36px;
}

.room-video {
  height: auto;
  width: 100%;
}

div#rooms .room-description {
  top: -100px;
  background-color: black;
  position: relative;
  z-index: 36;
}

.hero-content {
  position: relative;
}

.top-brush-frame-1, .top-brush-frame-2, .top-brush-frame-3, .top-brush-frame-4,
.bottom-brush-frame-1, .bottom-brush-frame-2,
.about-brush-frame {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  left: 0;
  right: 0;
}

.top-brush-frame-1 {
  height: 300px;
  bottom: -300px;
  background-image: url(/img/brush-edges/Top_1.png);
  background-position: bottom;
}

.top-brush-frame-2 {
  height: 250px;
  bottom: -250px;
  background-image: url(/img/brush-edges/Top_2.png);
  background-position: bottom;
}

.top-brush-frame-3 {
  height: 175px;
  bottom: -175px;
  background-image: url(/img/brush-edges/Top_3.png);
  background-position: bottom;
}

.top-brush-frame-4 {
  height: 300px;
  bottom: -300px;
  background-image: url(/img/brush-edges/Top_4.png);
  background-position: bottom;
}

.bottom-brush-frame-1 {
  height: 200px;
  top: -150px;
  background-image: url(/img/brush-edges/Bottom_1.png);
  background-position: top;
}

.about-brush-frame {
  height: 150px;
  bottom: -150px;
  background-image: url(/img/brush-edges/Top_2.png);
  background-position: bottom;
}

.bottom-brush-frame-2 {
  height: 200px;
  top: -150px;
  background-image: url(/img/brush-edges/Bottom_2.png);
  background-position: top;
}


/*IG style */
#ig {
  background-image: url("/img/Instagram%20BG.png");
  background-size: 100% 120%;
  background-color: white;

  #ig-header {
    text-align: center;
    padding-top: 92px;

    img {
      width: 75px;
    }

    p {
      font-size: 28px;
      font-weight: 900;
      margin-top: 23px;
      color: black;
    }

  }

  #instafeed{
    a {
      padding-bottom: 20px; 
      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      } 
    }
  } 

}

/* leaderboard style */

#leaderboard {
  background-image: url("/img/board.png");
  padding-top: 92px;

  #leaderboard-header {
    text-align: center;

    p {
      color: white;
      font-size: 28px;
      font-weight: 500;
    }

  }

  #leaderboard-images {
    margin-top: 20px;

    a {
      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }
    }

  }

}

#glass {
  background-image: url("/img/scratches.png");
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-repeat: repeat-y;
  background-size: contain;
  pointer-events: none;
}

/*Media Queries */

@media screen and (max-width: 1200px) {
  #cover {
    min-height: 700px;
    width: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1000px) {
  #cover {
    .m-logo-container{
      #m-logo {
        max-height: 480px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #sidebar {
    display: none;
  }
  #cover {
    .magnifying-glass {
      margin-left: 40%;
      margin-right: auto;
      height: 351px;
      width: 520px;
    }
  }

  .bottom-brush-frame-2, .bottom-brush-frame-1 {
    top: -70px;
  }
  .room-text {
    margin-top: -30px;
  }
}

@media screen and (max-width: 768px) {
  #cover {
    .magnifying-glass {
      margin-right: auto;
      height: 337px;
      width: 500px;
    }
  }
}

@media screen and (max-width: 762px) {
  #cover {
    position: relative;
    overflow-x: hidden;
  }
}

@media screen and (max-width: 690px) {
  #cover{
    #magnifying-glass {
      right: -50px;
    }
  }
}

@media screen and (max-width: 648px) {
  .bottom-brush-frame-2, .bottom-brush-frame-1 {
    top: -45px;
  }
  .top-brush-frame-3 {
    bottom: -153px;
  }
}

@media screen and (max-width: 610px) {
  #cover{
    #magnifying-glass {
      right: -80px;
    }
  }  
}

@media screen and (max-width: 530px) {
  #cover{
    #magnifying-glass {
      min-width: 300px;
    }
  }  
}

@media screen and (max-width: 400px) {
  #nav-title {
    font-size: 16px;
  }
}
