<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Can you solve the mystery of the haunted theater?</h2>
                <p class="teaser-description">
                    Christmas is in danger!

<br><br>The notorious Gift Guardian has stolen all the presents and hidden them inside an abandoned cinema. With an uncanny ability to detect even the slightest sound, the thief is always one step away. One wrong move, one careless whisper, and the Gift Guardian will vanish with the gifts, putting the entire city’s celebrations at risk.

<br><br>
 Your mission: find the gifts before the Gift Guardian finds you.
<br><br>
 Can you outsmart the Gift Guardian and save Christmas?
</p>
               
                    <p class="teaser-description" style="padding-top: 0">
                        Available Dates:
                            <br>- December 5 TO 7
                            <br>- December 12 to 14
                            <br>- December 19 to 21
                            <br>- December 25 to 28
                        <br>- Venue would be at the <b>3rd floor, Century City Mall Cinema 4, Brgy Poblacion, Makati City</b>
                        <br>- Teams of 2 to 6 people. Only P499 per head.
                        <br>- Games kick off every 30 minutes from 1:00pm to 8:30 PM (FRIDAYS, SATURDAYS, AND SUNDAYS)</p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
