<section id="cover" style="background-image: url('/img/promil/BG_Magenta.png'); background-size: cover; background-position: center">
        <div id="background-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="logo-container">
                    <!-- <img id="brand-logo" class="img-responsive center-block" src="/img/brand-logo.png"/>
                    <img id="brand-logo" class="img-responsive center-block" src="/img/events/uptown/Uptown_Mall_logo.svg"/> -->
                    <span class="branch-title"><img class="img-responsive center-block" style="width:auto;height:auto" src="/img/promil/logo.gif"/> </span>
                </div>
            </div>
        </div>
        
    </section>
