
<section id="customer" class="my-4" style="padding: 30px; background-color: transparent;">
<div class="row pt-4">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center" style="padding-bottom: 20px;">
        <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;margin: 0 0 20px 0;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
</div>
<style>
  .promilFaq p {
    font-size: small;
    padding-bottom: 10px;
   }
  .promilFaq h2 { 
    text-align: center;
    margin-top: 20px;
  }
</style>

<div class="row my-4 promilFaq">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light">
      
        <h4>  
          What is the Promil® Gifted Brain Room?
        </h4>
        <p>-   
          The Promil® Gifted Brain Room is an immersive experience inspired by escape rooms - designed in partnership with Mystery Manila, we challenge Gifted Kids to take on the journey and see their Gifted Brain in action while taking on puzzles that highlight focus, memory, language, and problem solving.
        </p>
        <h4>
          What is the main goal inside the Promil® Gifted Brain Room?
        </h4>
        <p>- 
          The main goal is to travel inside the Gifted Brain, collect the four nutrients, and put them altogether to help nurture a Gifted Brain and soon, raise a whole new generation of Gifted Kids!
        </p>
        <h4>Who can join the Promil® Gifted Brain Room?
        </h4>
        <p>- Only kids ages 3 to 7 years old are allowed inside. Each kid must be accompanied by at least one legal guardian. Please note that in compliance with the milk code and to ensure safety, we cannot allow kids who are not within the age requirement or adults who are pregnant, or below 18 years old inside the Gifted Brain Room. 
        </p>
        <h4>How much is the entrance to the Promil® Gifted Brain Room?
        </h4>
        <p>- The Gifted Brain Room is free of charge. 
        </p>
        <h4>Where can I book a slot?
        </h4>
        <p>- You can visit https://promil.mysterymanila.com to book your slot or scan the QR code displayed inside the Gifted Brain Room. 
        </p>
        <h4>What if I am late for my booking?
        </h4>
        <p>- We require you to arrive at least 15 minutes before your booking, for registration and briefing purposes. If you arrive later than your booking, our team will check if we can still accommodate a slot for you in the same day. Otherwise, we will encourage you to rebook for another day. 
        </p>
        <h4>Are walk-ins allowed?
        </h4>
        <p>- Yes, we allow walk-ins, but this will be subject to availability of slots for the day. All you have to do is scan the QR code displayed inside the Gifted Brain Room to book a slot for free!
        </p>
        <h4>What if we booked already but something comes up and we can't go on our booked date?
        </h4>
        <p>- That's okay! Since the Gifted Brain Room is free of charge, you can just rebook for another day at your convenience.
        </p>
        <h4>Until when can I book a slot?
        </h4>
        <p>- The Promil® Gifted Brain Room will be open until <span class="text-danger">May 5, 2024.</span> 
        </p>
        
        
          <h4>How many can play? 
          </h4>
          <p>- Only 6 persons max are allowed inside the Gifted Brain Room, with a maximum of 2 guardians and 4 kids.
          </p>
          <h4>How long is the mission inside the escape room? 
            </h4>
          <p>- The mission must be completed within a maximum of 20 minutes only. 
          </p>
          <h4>What if we don't complete the mission in the given time? 
            </h4>
          <p>- The mission must be completed within 20 minutes, but if you are unable to do so, you can try again and rebook for another time.
          </p>
          <h4>Can I get a clue or seek help during the mission?
          </h4>
          <p>- Of course! All you need to do is shout <b>“Gordon, help!”</b> and Gordon will give you a clue. Please note that every time you ask for a clue, 1 minute will be added to your total solving time. <b>(1 clue = +1 minute)</b>
            </p>

            <h4>What if we have friends or family who do not want to join the escape room but still want to stay inside the Promil® Gifted Brain Room?</h4>
            <p>- We can allow kids who are 3 to 7 years old and legal guardians who are 18 years old and above to stay inside the premises of the Promil® Gifted Brain Room (ex. Free play area). In compliance with the milk code and to ensure safety, we cannot allow pregnant women inside any premises of the Promil® Gifted Brain Room.</p>

            <h4>What if my child and I don't want to play alone? Can we merge with other groups instead?</h4>
            <p>- We understand that it may be more fun to play with a big group! However, we encourage you to play with someone you know well. Please note that we also do not allow any child to join the mission unsupervised by a legal guardian.</p>

            <h4>Is the device safe for children? </h4>
            <p>- Yes. However, we are not liable for any injuries or stress caused by the device or any activities inside the Gifted Brain Room. You will also be required to sign a consent waiver upon registration.</p>
            
            <h4 class="text-danger">What if my child does not want to wear the device at the start of the mission?</h4>
            <p class="text-danger">The device is part of the experience, so we encourage children to wear it before starting the mission. If your child is uncomfortable, you may choose to rebook for another time or another day, when your child is ready to wear the device.</p>
            
            <h4>What if my child wants to remove the device in the middle of the mission?</h4>
            <p>- It is possible to remove the device in the middle of the mission, but please note that this will result in an inaccurate reading of your child's Gifted Brain.</p>

            <h4>Where can I leave my bags or other items before entering the escape room?</h4>
            <p>- We'll be providing a locker area inside the viewing room where you can leave your items. We will give you a key to the locker so that only you can have access to it.</p>
  
            <h4>Can I take pictures or videos during the mission?</h4>
            <p>- Taking of pictures or videos throughout the mission is not allowed. However, you can take a photo by our photowall after completing the mission! You can also take photos inside the Free Play area.</p>
  
            <h4>Can I bring food or refreshments inside the escape room? </h4>
            <p>- Any form of food or drinks are not allowed inside the Gifted Brain Room. You may leave them at the locker area inside the Viewing Room.</p>


          
    </div>
    <div class="col-lg-2 col-sm-0 "></div>
  </div>
  
</section>