<style>
    #card-image{ 
        margin: 50px 0;
    }
    
    </style>
    <section id="card-image">
        <div class="container mb-4">
            <div class="row" style="padding: 20px 10px">
               <div class="col-6"><img src="../../../img/promil/logo.png" alt=""></div>
               <div class="col-6 text-center" style="background: #EFC18A;color:white;"><p>See your child’s<br>
                Gifted Brain in action!
                <br><br>
                Book a slot to<br>
                The Gifted Brain Room now!</p>
                <a href="https://promil.mysterymanila.com/" class="btn btn-primary btn-lg active mb-4" role="button" aria-pressed="true">BOOK NOW</a>
            </div>
    
            </div>
        </div>
    </section>
    