<section id="teaser" style="background-color: #F5DCBB">
    <!-- <div id="brush-top"></div -->
    <style>
       .teaser-description-promil p{ 
        font-size: 18px;
       }
        .teaser-description{ padding: 0; color:#AA0354}
        .teaser-card-img {
            width: 575px;
        }
        
    </style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="teaser-content">
                    <h2 class="teaser-header-promil"><b>GO ON A JOURNEY INSIDE<br>THE GIFTED BRAIN!</b></h2>
                   <div class="row" style="margin-top: 40px;">
                    <div class="col-lg-6 text-center"><img src="../img/promil/gordon.png" class="teaser-card-img" alt=""></div>
                    <div class="col-lg-6 text-justify">
                        <p class="teaser-description teaser-description-promil gotham-light">
                            <span class="gotham-bold">WELCOME, GIFTED MOMS AND DADS!​</span><br><br>
                            See your child’s gifted brain in action with PROMIL<sup>&reg;</sup> ! Take them on a journey through the Gifted Brain as they discover  <span class="gotham-bold">4 brain developmental milestones: focus, memory, language, and problem solving!</span><br><br>
                            
                            Throughout the journey, <span class="gotham-bold">you’ll be able to visualize your child’s gifted brain through the Gifted Brain Visualizer</span>. It’s a headband that’s safe to wear for children and will allow you to see how their brain functions through each mini-activity. ​<br><br>
                            
                        
                            <span class="gotham-bold">THE MISSION</span><br>    
                            Together with Gordon, Gifted Kids must search for the four nutrient disks that help nurture a Gifted Brain: DHA, Lutein, Choline, and MOS+.<br><br>
                            <span class="gotham-bold">To find these nutrients, they must go through exciting mini-activities using their skills in focus, memory, language, and problem-solving.</span><br><br>
                            Are your Gifted Kids up for the challenge? The Gifted Brain Room awaits! <span class="gotham-bold">Book your slot now!</span><br><br>
                            <i>This game is <span class="gotham-bold">FREE</span> and <span class="gotham-bold">suitable for kids ages 3 to 7 years old only.</span></i><br><br>
                            
                            <a href="https://promil.mysterymanila.com" class="btn btn-block" target="_blank" style="color:white;background: #AA0354;font-family: Gotham-Bold;">BOOK NOW</a>
                        </p>
                    </div>
                   </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="brush-bottom"></div> -->
</section>
