<section id="teaser" style="background-color: rgb(170, 3, 84, 0.64)">
    <!-- <div id="brush-top"></div -->
    <style>
        .teaser-header{ 
            font-family: 'Poppins', serif;
        }
        .teaser-description{ padding: 0;}
        .teaser-card-img {
            width: 500px;
        }
        
    </style>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="teaser-content">
                    <h2 class="teaser-header-promil"><b>GO ON A JOURNEY INSIDE THE GIFTED BRAIN!</b></h2>
                   <div class="row">
                    <div class="col-lg-6 text-center"><img src="../img/promil/gordon.png" class="teaser-card-img" alt=""></div>
                    <div class="col-lg-6 text-justify">
                        <p class="teaser-description" style="padding: 0;">
                            Gifted Kids, you have been tasked to go on a mission to discover the secrets and untold mysteries of a Gifted Brain!
                            <br><br>
                            With Gordon’s help, you will need to collect four nutrient disks: DHA, Lutein, Choline, and MOS+.
                            Each nutrient is important in nurturing a Gifted Brain! DHA & MOS+ helps to support brain function, Choline helps with memory and thinking, while Lutein improves visual and cognitive development.
                            <br><br>
                            To collect these nutrients, you must go through different challenges that will test your focus, memory, language, and problem solving.
                            <br><br>
                            Complete the mission by putting the four nutrients together so that more Gifted Brains will be nurtured and soon raise a whole new generation of Gifted Kids, just like you!
                            <br><br>
                            Good luck, Gifted Kids!
                        </p>
                    </div>
                   </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="brush-bottom"></div> -->
</section>
