<style>
#card-image{ 
    margin: 50px 0;
}

</style>
<section id="card-image">
    <div class="container mb-4">
        <div class="row">
            <div class="card-content">

                <h2 class="section-header">
                    BOOK HERE
                </h2>
                
                
            </div>
            <div class="col-12 text-center mb-4">
                    <a href="https://booknow.mysterymanila.com/?myst_id=119" class="btn btn-primary btn-lg active mb-4" role="button" aria-pressed="true">CLICK ME</a>
            </div>
        </div>
    </div>
</section>
