<section id="card-image">
    <div class="container">
        <div class="row">
            <div class="card-content">
                <h2 class="section-header">899 PER PERSON</h2>
                <h4 class="text-center">
                    <a href="https://book.thenextperience.com/TheDessertMuseum/Booking/" target="_blank">
                        <button class="btn btn-success">BOOK NOW</button>
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div id="brush-top" style="z-index: 1; top: 900px"></div>
</section>
