<section id="teaser">
    <div id="brush-top"></div>
    
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">ARE YOU UP FOR THE CHALLENGE?</h2>
                <p class="teaser-description">The carnival was abandoned, left to rot but the clowns never left. Cursed by the
                    Tragedy, their spirits lingered, their once joyful laughter now a sinister echo in the
                    Dark. The carnival reappears once every halloween, drawing unsuspecting victims
                    Into its haunted grounds.
                    <br><br>
                    Those who enter are greeted by the clowns and tasked to complete all the
                    Challenges along the way to escape and defeat the clown. So, are you up for the
                    Challenge?
                    <br/><br/> Brought to you by Mystery Manila and The Dessert Museum. </p>
                
            </div>
        </div>
        
    </div>
    
    <div id="brush-bottom"></div>
</section>