<section id="card-expansion">
    <div class="container">
        <div class="row">
            <div class="card-expansion clear">
                <h2 class="section-header">EXPANSION PACK</h2>
                <div class="col-md-6">
                    <img src="/img/games/expansion-pack.png" class="img-responsive center-block"/>
                </div>
                <div class="col-md-6">
                    <div class="expansion-details">
                        <p>Enjoyed the game? Level it up with the expansion pack which unlocks new characters, abilities and game dynamics.</p>
                        <ul classtype="circle">
                            <li class="description">Play with a maximum of 10 players.</li>
                            <li class="description">New Detective character who has the ability to catch Enigma.</li>
                            <li class="description"> Additional "Peek at Exit Card" ability for 2 new teenage characters.</li>
                            <li class="description">Whole new set of Action Cards which allow you to do new actions like double your turn, escape with 2 tools, make others lose a turn etc.</li>
                            <li class="description">Buy it now! Visit any Mystery Manila branch in Metro Manila or message us on <a href="https://www.facebook.com/escapefromenigma" target="_blank">Facebook.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>