<section id="cover" style="background-image: url('/img/events/intramuros/cover.jpg'); background-size: cover; background-position: center">
        <div id="background-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="logo-container">
                    <img id="brand-logo" class="img-responsive center-block" src="/img/brand-logo.png"/>
                    
                    
                </div>
            </div>
        </div>
        <div id="brush-top"></div>
    </section>