<section id="faq">
  <style>
     p, th {
    font-size: 13px;
  }
  h4 { 
    margin-top: 35px;
  }
  </style>
    <div id="brush-top"></div>
    <section id="customer" class="px-4">
    <div class="row">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center">
            <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
        </div>
        <div class="col-lg-2 col-sm-0"></div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-sm-0"></div>
        <div class="px-4 col-lg-8 col-sm-12 text-light">
            <h3>  
              WHEN IS THE EVENT?
            </h3>
            <p>      
             The event dates are October 24, 25, 26, 30, 31, November 7, 8, and 9. Time slots run every hour from 6pm - 9pm.
            </p>
            <h3>
      
             IS THERE DIFFERENCE BETWEEN 2 MYSTERIES?
            </h3>
            <p>
                Yes! The Walking and Biking Mysteries are completely different experiences. Each has its own route, set of clues, and storyline—so even if you’ve tried one, the other will still be a brand-new adventure! 
            </p>
            <h3>
      
              WHERE IS THE EVENT?
            </h3>
            <p>
                The starting point will be at the following areas:
                <br>- Walking Mystery: Fort Santiago, Intramuros
                <br>- Biking Mystery: Bambike HQ, Intramuros

            </p>
              <h3>
      
                HOW MUCH PER HEAD?
              </h3>
              <p>
      
                - Walking Mystery: P899 per head
                <br>- Biking Mystery: P999 per head

                <br>- *Students get 50% discount on the following dates: October 24, 30, 31, and November 7 (Just present school ID)

              </p>
               <h3>
      
                HOW MANY PLAYERS IN A GROUP?
              </h3>
              <p>
      
               The game is designed up to a maximum of 7 pax. Any group size more than that will be requested to split into smaller groups. Why not bring a little bit of friendly competition?
              </p>
              <h3>
      
                HOW DO I BOOK?:
              </h3>
              <p>
                  You may contact any of the following pages to reserve a slot
                  <ul>
                    <li>
                        Mystery Manila
                    </li>
                    <li>
                        Bambike Eco Tour
                    </li>
                  </ul>
              </p>
            
             
                <h3>
      
                  REFUND POLICY
                </h3>
                <p>
      
                  Bookings are non refundable but may be transferred to other players. No refunds will be given if the number of the initial group booked is lesser than the ones who will actually play. Time and date changes made to any confirmed booking will be subject for approval and availability of the new chosen time as well as additional charges. Below is the table of fees depending on when the booking change request is made:

                  <table>
                    <tr>
                      <td>Condition</td>
                      <td>Rebooking Fee</td>
                    </tr>
                    <tr>
                      <td>48 hours or more before the original schedule</td>
                      <td>PHP 500.00</td>
                    </tr>
                    <tr>
                      <td>Less than 48 hours up to 24 hours before the original schedule</td>
                      <td>PHP 700.00</td>
                    </tr>
                    <tr>
                      <td>24 hrs and below/no show/booking time has passed</td>
                      <td>NO REBOOKING ALLOWED. The slot will be considered played</td>
                    </tr>
                  </table>
                </p>
                  <h3>
      
                    HOW LONG IS THE GAME:
                  </h3>
                  <p>
      
                    The artifact that causes the spiritual disturbance will activate again in 50 minutes. Make sure to solve the mystery before it activates and another wave of creatures comes out to terrorize the people of Intramuros.
                  </p>
                    <h3>
      
                      What happens if I don't get to solve it? 
                    </h3>
                    <p>
      
                      If your 50 minutes is up and you haven’t solved the mystery, you have the option of trying it again at a discounted rate. This will be subject to booking availability.
                    </p>
              <h3>
        
                Can I get a clue or seek help during the game?
              </h3>
              <p>
        
                Yes but every clue requested will equate to a penalty of 5 minute addition to your total solving time.
              </p>
              <h3>
        
                Age limit: 
                </h3>
              <p>
        
                Groups with below 18 yr old should be accompanied by at least 1 adult
              </p>
              <h3>
        
                What if I really want to play alone?
              </h3>
              <p>
        
                Depending on the mystery, you can play alone if you really want to but you have to pay for the price of two players. The mysteries are designed to be solved by at least two players and a maximum of 5. We believe that it is better and much more fun to solve mysteries together.
                </p>
              <h3>
        
                What if we don’t know how to Bike?
                </h3>
                <p>
                  Please let us know ahead so we can arrange a special pedicab for your group. 
                </p>
        </div>
        <div class="col-lg-2 col-sm-0"></div>
      </div>
    </section>
</section>