<section id="card-image">
  <div class="container">
      <div class="row p-0 m-0">
          <h1 class="text-center" style="font-family: 'Special Elite', cursive;color:white"><u>MYSTERIES</u></h1>
          <div class="col-sm-12 col-lg-6">
            <div class="card">
              <img src="../../../img/posters/ii4ll.png" class="card-img-top">
              <div class="card-body">
                  <!-- <h2 class="card-title text-center" style="font-family: 'Special Elite', cursive">Lost Lady</h2> -->
                  <!-- <p class="text-center">
                    Long ago, a grieving widow roamed the streets of Intramuros in search of her husband who never returned from war. Dressed in black, she was said to whisper secrets into the night — names, confessions, and warnings no one could fully understand.<br><br>Will you dare to follow her whispers… and uncover the mystery she guards?
                  </p> -->
                  <p style="font-size:30px" class="pb-4 text-center"><a href="http://booknow.mysterymanila.com/?myst_id=127" target="_blank">
                    <button class="btn btn-success">BOOK NOW</button>
                </a></p>
              </div>
              
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
              <div class="card">
                  <img src="../../../img/posters/ii4pp.png" class="card-img-top">
                  <div class="card-body">
                      <!-- <h2 class="card-title text-center" style="font-family: 'Special Elite', cursive">Possessed Priest</h2> -->
                      <!-- <p class="text-center">
                        They say the priest is gone, but some claim his presence never left. People still hear footsteps inside Fort Santiago at night, and a voice murmuring prayers that don’t sound quite human.<br><br>
                        The pendant he once guarded has resurfaced… and with it, the horrors he tried to contain.
                        Are you brave enough to finish what he started?
                        
                      </p> -->
                      <p style="font-size:30px" class="pb-4 text-center"><a href="http://booknow.mysterymanila.com/?myst_id=126" target="_blank">
                        <button class="btn btn-success">BOOK NOW</button>
                    </a></p>
                  </div>
                  
                </div>
          </div>
      </div>
  </div>
</section>

