<section id="card-image">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-lg-12">
            <div class="card-content">
              <h2 class="section-header" style="font-family: 'special-elite', cursive">Lost Lady</h2>
              <p class="text-center">
                Reports of a young lady was said to be spotted roaming around inside the gates of fort santiago during night time. When guards on duty approach a lady like apparition, it seems to disappear into thin air. 
                
                This has been ongoing for years and currently scaring people who have been trying to help her.    
              </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-12">
            <div class="card-content">
              <h2 class="section-header" style="font-family: 'special-elite', cursive">Possessed Priest</h2>
              <p class="text-center">
                In 1942, the Filipino people grieved for the loss of Father Gomez. He was said to be the only priest who could drive out spirits and demons from one’s body. When the Japanese colony knew about his special ability, they took him away and killed him.
                
                A few weeks after the death, people have been seeing him around Intramuros. But something was different, Father Gomez had a different voice, was uncontrollable, and looks very ill.   
              </p>
            </div>
          </div>
      </div>
  </div>
</section>

