<section id="teaser">
    <div id="brush-top"></div>
    <div class="row">
            <div class="col-sm-6 col-lg-3">
                 <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/bambike.png"/>
            </div>
            <div class="col-sm-6 col-lg-3">
                 <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/ia.png"/>
            </div>
            <div class="col-sm-6 col-lg-3">
                 <img class="img-responsive center-block event-title" style="width:200px; @media (max-width: 767px){ width: 100px; }" src="../../../img/events/intramuros/dot.png"/>
            </div>
            <div class="col-sm-6 col-lg-3">
                 <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/IMFITP.png"/>
            </div>
         </div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">AN AFTER DARK MYSTERY BIKE HUNT</h2>
                <h2 class="teaser-header">Can you survive?</h2>
                <p class="teaser-description">Explore the dark side of Intramuros as you take an exciting bamboo bicycle ride as night falls. Solve mysterious events that envelope historical landmarks and hunt for clues as you play paranormal detectives in the Intramuros Investigation. 

                    <br/><br/> Brought to you by Mystery Manila and Bambike. </p>
                
            </div>
        </div>
        
    </div>
    
    <div id="brush-bottom"></div>
</section>