<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">AN AFTER DARK BIKE MYSTERY HUNT</h2>
                <h2 class="teaser-header">Can you survive?</h2>
                <p class="teaser-description">Explore the dark side of Intramuros as you take an exciting bamboo bicycle ride as night falls. Solve mysterious events that envelope historical landmarks and hunt for clues as you play paranormal detectives in the Intramuros Investigation. 

                    <br/><br/> Brought to you by Mystery Manila and Bambike. </p>
                <img id="brand-logo" src="/img/mystery-logo.png"/>
            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>