<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="google-site-verification" content="Gw-aF4ol8XwF3IveE658pdLcFYIdgUat6guYndGOex0" />
<meta name="description" content="{{ site.description }}">
<meta name="author" content="Mystery Manila">

<meta name="copyright" content="Mystery Manila">
		
		<meta name="robots" content="no-cache">
		
		<meta name="twitter:card" content="summary_large_image">
		<meta name="og:site_name" content="Are you up for the challenge?">
		
		<meta name="keywords" content="Immersive, Escape Room, Mystery, Team Building, Corporate, Special Events, Online Escape Room ">
        
<meta property="og:type" content="website">
<meta property="og:title" content="Escape Room in the Philippines">
<meta property="og:description" content="{{ site.description }}">

<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">

<title>Mystery Manila | {{ page.title | upcase }}</title>
<link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<meta name="facebook-domain-verification" content="tw3nesu94p2efcgjlmc50o4ujcxte2" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-49854580-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-49854580-1');
</script>

<link rel="shorcut icon" href="/favicon.ico" type="image/x-icon">

<!--typekit font-->
<script src="//use.typekit.net/lxl5zku.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="{{ page.css }}">

<script src="/js/modernizr.custom.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159041220-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
 
  gtag('config', 'UA-159041220-1');
</script>
<!-- Facebook Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '712015358909020'); 
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=712015358909020&ev=PageView
    &noscript=1"/>
    </noscript>
<!-- End Facebook Pixel Code -->
<style>
  body {
  font-family: "Poppins", sans-serif;
}
</style>