<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Can you solve the <b>Murder Case?</b></h2>
                <p class="teaser-description">
                    Famous actress, Samantha Scarlet, was brutally stabbed in the middle of her performance of the play "The Deadly Drama", when the fake dagger  was switched with a real one by one of the actors. The murder remains unsolved to this day, and the ghost of Ms. Scarlet continues to haunt  the theater until the killer is put to justice.

                    <br/><br/> Brought to you by Mystery Manila and Uptown Mall, Fort Bonifacio, Taguig City. </p>

                    <p class="teaser-description">
                        - October 28 to December 31, 2022
                        <br>- Venue would be at the <b>3rd floor, Uptown Mall Cinema 3, Fort Bonifacio, Taguig City</b>
                        <br>- Teams of 2 to 7 people. Only P500 per head.
                        <br>- Each person gets free popcorn and bottled water
                        <br>- Games kick off every 30 minutes from 1:00pm to 8:30 PM Everyday</p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
