---
title: Suggest
css: /css/games.css
permalink: /suggest/
---

<!DOCTYPE html>
<html>
<head>
    {% include header/head.html %}
</head>

<body>

{% include navbar.html %}
{% include front/query-mystery.html %}


<!--<script src="/js/underscore-min.js"></script>-->
<script src="..//js/jquery-2.1.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE=" crossorigin="anonymous"></script>
<script src="../js/bootstrap.min.js"></script>
<!--<script src="/js/isInViewport.min.js"></script>-->
<script src="../js/jquery.stellar.min.js"></script>
<script src="../js/jquery.cbpQTRotator.js"></script>
<script src="..//js/front.js"></script>


</body>

</html>
