<div class="container">
    <div class="row branches-container" id="branch">
        <div class="col-md-12">
            <div class="col-md-6 branches-content">
                <div class="branches-button-container">
                    <a href="https://www.mysterymanila.com/events/promil" class="branch-url">
                        <img class="branches-image clearfix" style="animation:none" src="/img/promil/logofree.png"/>
                    </a>
                    <h3>PROMIL<sup>&reg;</sup> GIFTED BRAIN ROOM</h3>
                </div>
            </div>
            {% assign sorted-branch = site.branches | sort: 'rank' %}
            {% for branch in sorted-branch %}
                {% if branch.slug=="jupiter" or branch.slug=="pasig"  %}

                {% else %}
                <div class="col-md-6 branches-content">
                    <div class="branches-button-container">
                        <a href="/branch/{{ branch.slug }}" class="branch-url">
                            <img class="branches-image clearfix" src="/img/brand-logo.png"/>
                        </a>
                        <h3>{{ branch.name | upcase }} BRANCH</h3>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="book-now-container">
        <a class="book-now-button clearfix book-now" href="https://booknow.mysterymanila.com/" target="_blank">
            <button class="btn btn-default">BOOK NOW</button>
        </a>
    </div>
</div>

<!--<ul>-->
<!--{% for mystery in site.data.rooms %}-->
<!--{% if mystery.branch.slug == branch.slug and mystery.hide != true %}-->
<!--<li class="branches-icon">-->
<!--&lt;!&ndash;<a class="branch-name-btn" data-target="#{{ mystery.slug }}" href="javascript:void(0)">&ndash;&gt;-->
<!--<a class="branch-name-btn" href="/branch/{{ mystery.branch.slug }}/#{{ mystery.slug }}">-->
<!--<span class="branch-label">-->
<!--<p class="text-center">{{ mystery.slug | upcase}}</p>-->
<!--</span>-->
<!--</a>-->
<!--<a class="branch-button" href="">-->
<!--<span border="0" style="width: {{mystery.branch.width}}; background-position: {{ mystery.branch.position }}"  class="center-block branches-icon"></span>-->
<!--</a>-->
<!--</li>-->
<!--{% endif %}-->
<!--{% endfor %}-->
<!--</ul>-->