<div class="container">
  <h2>BRANCHES</h2>

  <div class="row">
    {% for branch in site.branches %}
      <div class="col-md-6">
        <h4>{{ branch.name | upcase }}</h4>
        <address>
          <strong>Address</strong><br>
          {{ branch.address }}
        </address>
        <address>
          <strong>Telephone</strong><br>
          {% for number in branch.telephone %}
            {{ number }}<br>
          {% endfor %}
        </address>
        <address>
          <strong>Operating Hours</strong><br>
          {{ branch.availability }}
        </address>
        {{ branch.output }}
      </div>
    {% endfor %}  
  </div>

</div>



