<div class="container">
    <div class="col-md-12" id="email-us">
        <h5>{{'You may email us at' | upcase}}</h5>
        <h1>info@mysterymanila.com</h1>
    </div>

    <div class="row">
        <div class="col-md-offset-4 col-md-4 mailchimp-container">
            <h5>{{ 'Or subscribe to get promo updates' | upcase}}</h5>
            <div id="mc_embed_signup">
                <form class="form" action="{{ site.mailchimp.form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="blank">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" id="mce-EMAIL" type="email" name="EMAIL" required>
                    </div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_adcaf98baa115e601f7273ef6_bd9785a80c" tabindex="-1" value=""></div>
                    
                    <div class="clear">
                        <button class="btn btn-default col-md-12" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">{{'Subscribe' | upcase}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-8">
        {% include front/corporate.html %}
    </div>
</div>