<div id="corporate-section" class="container-fluid">
    <div class="row">
        <h3 class="corporate-header">Looking for something new to do for your company team building?</h3>
        <div class="corporate-content">
            {% for corporate in site.data.corporate %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 corporate-item">
                <img src="{{ corporate.image }}" class="center-block corporate-image"/>
                <p class="text-center corporate-description">{{ corporate.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
