<div id="corporate-section" class="container-fluid">
    <div class="row">
        <h2 class="section-header">CORPORATE</h2>
        <h3 class="corporate-header">Looking for something new to do for your company team building?</h3>
        <div class="corporate-content">
            {% for corporate in site.data.corporate %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 corporate-item">
                <img src="{{ corporate.image }}" class="center-block corporate-image"/>
                <p class="text-center corporate-description">{{ corporate.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- corporate download link-->
    <br><br><br>
    <img id="corporate-download-image" src="/img/pdf-image.png" class="center-block"/>
    <h5 class="text-center">{{'Click the button to download corporate package' | upcase}}</h5>
    <br/>
    <a href="/downloads/MysteryManilaCorporatePackageLibisandJupiter.pdf" class="clearfix"  target="_blank">
        <button class="btn btn-default  col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">{{'Download' | upcase}}</button>
    </a>


    <div class="col-md-12" id="email-us">
        <br><br><br><h5 class="text-center">{{'You may email us at' | upcase}}</h5>
        <h1 class="text-center">info@mysterymanila.com</h1>
        <div class="col-md-offset-4 col-md-4 mailchimp-container">
            <h5 class="text-center">{{ 'Or subscribe to get promo updates' | upcase}}</h5>
            <div id="mc_embed_signup">
                <form class="form" action="{{ site.mailchimp.form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="blank">
                    <div class="form-group">
                        <label class="text-center">Email Address</label>
                        <input class="form-control" id="mce-EMAIL" type="email" name="EMAIL" required>
                    </div>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_adcaf98baa115e601f7273ef6_bd9785a80c" tabindex="-1" value=""></div>
                    <div class="clearfix">
                        <button class="btn btn-default col-md-12  col-md-offset-0 col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">{{'Subscribe' | upcase}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


