<style>
#cover{ 
    background-image: url('/img/virtual_teambuilding_banner.jpg');
    background-size: cover;
}
</style>
<div id="cover">
	<div class="m-logo-container">
		<!-- <img id="m-logo" src="img/mystery-logo.png" />
        <div id="cbp-qtrotator" class="cbp-qtrotator clearfix">
            {% for media in site.data.media %}
                <div class="cbp-qtcontent clearfix">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-md-4 col-sm-4 col-xs-4 cover-image" style="padding: 0px; line-height: 110px">
                                <a href="{{media.url}}" target="_blank">
                                    <img src="{{ media.icon }}" style="height:{{media.height}}; padding-left:{{media.padding}};" align="center"/>
                                </a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0px">
                                <blockquote>
                                    {{ media.quote }}
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div> -->
    </div>
</div>
