<div id="cover">
	<div class="m-logo-container">
		<img id="m-logo" src="img/mystery-logo.png" />
    </div>
    <div id="cbp-qtrotator" class="cbp-qtrotator">
        {% for media in site.data.media %}
            <div class="cbp-qtcontent clearfix">
                <a class="featured-media" style="width: {{media.width}}; background-position: {{ media.position }} 0"></a>
                <blockquote>
                    {{ media.quote }}
                </blockquote>
            </div>
        {% endfor %}
    </div>
</div>
