<div class="container">
  <div class="row branches-container" id="branch">
      <div class="col-md-12">
              <div class="col-md-6 branches-content">
                  <div class="branches-button-container">
                      <a href="/events/intramuros/" class="branch-url">
                          <img class="branches-image clearfix" src="/img/events/intramuros/ii3_mobile.gif"/>
                      </a>
                      <h3>Intramuros Investigation</h3>
                  </div>
              </div>
              <div class="col-md-6 branches-content">
                <div class="branches-button-container">
                    <a href="/events/terrorinthetheater/" class="branch-url">
                        <img class="branches-image clearfix" src="/img/events/titt2.gif"/>
                    </a>
                    <h3>Terror In The Theater II</h3>
                </div>
              </div>
            <div class="col-md-6 branches-content">
              <div class="branches-button-container">
                  <a href="/events/clowns/" class="branch-url">
                      <img class="branches-image clearfix" src="/img/events/clown.gif"/>
                  </a>
                  <h3>Curse of The Clowns</h3>
              </div>
            </div>
            <div class="col-md-6 branches-content">
              <div class="branches-button-container">
                  <a href="/branch/newport/" class="branch-url">
                      <img class="branches-image clearfix" src="/img/events/hallway.gif"/>
                  </a>
                  <h3>Haunted Hallways</h3>
              </div>
            </div>
      </div>
  </div>
</div>