<div class="container" style="background-color: black;">
  <div class="row" style="margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;">
  <h1 style="color: white;">HALLOWEEN EVENTS 2024</h1></div>
  <style>
    .events-img{
      width: 100%;
      height: auto;
    }
  </style>
  <div class="row branches-container">
      <div class="col-md-12">
              <div class="col-md-6 branches-content">
                  <div class="branches-button-container">
                      <a href="/events/intramuros" class="branch-url">
                          <img class="events-img clearfix" src="/img/events/intramuros/ii3_mobile.gif"/>
                      </a>
                      <h3 style="text-align:center;color: white">Intramuros Investigation</h3>
                  </div>
              </div>
              <div class="col-md-6 branches-content">
                <div class="branches-button-container">
                    <a href="/events/terrorinthetheater" class="branch-url">
                        <img class="events-img clearfix" src="/img/events/titt2.gif"/>
                    </a>
                    <h3 style="text-align:center;color: white">Terror In The Theater II</h3>
                </div>
              </div>
            
      </div>
  </div>
  <div class="row branches-container">
    <div class="col-md-12">
            
          <div class="col-md-6 branches-content">
            <div class="branches-button-container">
                <a href="/events/clowns" class="branch-url">
                    <img class="events-img clearfix" src="/img/events/clown.gif"/>
                </a>
                <h3 style="text-align:center;color: white">Curse of The Clowns</h3>
            </div>
          </div>
          <div class="col-md-6 branches-content">
            <div class="branches-button-container">
                <a href="/branch/newport" class="branch-url">
                    <img class="events-img clearfix" src="/img/events/hallway.gif"/>
                </a>
                <h3 style="text-align:center;color: white">Haunted Hallways</h3>
            </div>
          </div>
    </div>
</div>
</div>