<h2>{{ 'Frequently Asked Questions' | upcase }}</h2>
<div class="container">    
        <ul class="questions">
        {% for item in site.data.faq %}
            <li class="clearfix {% if forloop.first %} active{% endif %}">
                <div class="col-md-5">
                    <h5><a href="#answer-{{forloop.index}}">{{ item.question | upcase }}</a><h5>
                </div>
                <div class="col-md-7">
                    <p class="answer" id="answer-{{forloop.index}}" style="display:none">
                        {{ item.answer }}
                    </p>
                </div>
            </li>
        {% endfor %}
        </ul>
</div>