
<div class="container">
    <h2 class="section-header">FEATURED ON</h2>
    <div class="col-md-offset-3 col-md-6 feature">
    {% for media in site.data.media %}
            <div class="quote">
                <a href="{{ media.url }}" class="featured-media" style="width: {{media.width}}; background-position: {{ media.position }} 0" title="{{ media.name }}" target="_blank"></a>
                <blockquote>
                    {{ media.quote }}
                </blockquote>
            </div>
    {% endfor %}
    </div>
</div>
