
<div class="container">
    <h2 class="section-header">FEATURED ON</h2>
    <div class="col-md-offset-2 col-md-8 feature">
    {% for media in site.data.media %}
        {% capture cycle %}{% cycle 'left', 'right' %}{% endcapture %}
            <div class="quote">
                <a href="{{ media.url }}" class="featured-media" style="width: {{media.width}}; background-position-x: {{ media.position }}" title="{{ media.name }}" target="_blank"></a>
                <p>
                    {{ media.quote }}
                </p>
            </div>
    {% endfor %}
    </div>
</div>
