{% for room in site.data.rooms %}
<div id="{{room.slug}}" class="room clearfix">
    <div class="hero-content" data-stellar-ratio="0.7">
        <video class="room-video" autoplay loop>
            <source src="{{ room.video }}" type="video/mp4">
        </video>        
    </div>
    <div class="room-description">
        <span class="{{ room.frame.bottom }}"></span>
        <div class="container">
            <div class="{{ room.alignment }} col-md-6 clearfix room-text">
                <div class="room-title">
                    <img src="{{ room.icon }}" class="pull-left" />
                    <h2>{{ room.title}}</h2>
                </div>
                {{ room.description }}
                <h4>LOCATION: {{ room.location | upcase }}</h4>
                <h4><button class="btn-mystery" onclick="window.open('http://mysterymanila.com/booknow.php','book_window','width=460,height=520,toolbar=no,location=no,directories=no,statu s=no,menubar=no,scrollbars=no,copyhistory=no,resizable=no')">BOOK NOW <img id="book-arrow" src="/img/arrow.png" height="25px"></img></button></h4>
            </div>
        </div>
        <span class="{{ room.frame.top }}"></span>
    </div>
</div>
{% endfor %}