{% for room in site.data.rooms %}
<div id="{{room.id}}" class="room clearfix">
    <div class="hero-content" data-stellar-ratio="0.7">
        <video class="room-video" poster="{{ room.image }}" autoplay loop >
            <source src="{{ room.video }}" type="video/mp4">
        </video>        
    </div>
    <div class="room-description">
        <span class="{{ room.frame.bottom }}"></span>
        <div class="container">
            <div class="{{ room.alignment }} col-md-6 clearfix room-text">
                <div class="room-title">
                    <img src="{{ room.icon }}" class="pull-left" />
                    <h2>{{ room.title}}</h2>
                </div>
                {{ room.description }}
                <h4>Location: {{ room.location }}</h4>
            </div>
        </div>
        <span class="{{ room.frame.top }}"></span>
    </div>
</div>
{% endfor %}