<div id="cover-brush"></div>
<div class="teaser-content">
    <div class="container">
        <h1 class="stylized teaser-head">The first live role playing game<br>in the Philippines</h1>

        <div class="row teaser-description">
            <div class="col-md-12">
                <div class="col-md-offset-2 col-md-5 teaser-text">
                    <p class="">
                        Mystery Manila is an activity that allows people to try something new and challenging. Choose between several mysteries that will transport you to various themed locations and scenarios. You will discover different clues and objects that will help you solve the mystery. It's up to you to use your wits to figure out how to escape in less than 60 minutes.
                    </p>
                </div>
                <div class="col-md-5 text-left teaser-text-right">
                    <h2 class="top-teaser-text">One room.<br>
                        One mystery.<br>
                        One hour.<br>
                        One way out.</h2>
                    <h2 class="bottom-teaser-text">Can you solve it?</h2>
                </div>
            </div>
        </div>
    </div>
    <span class="teaser-brush-frame brush-frame hidden-xs"></span>
</div>