<div id="cover-brush"></div>
<div class="teaser-content">
    <div class="container">
        <h1 class="stylized teaser-head">The first live role playing game<br>in the Philippines</h1>
        <div class="row" style="margin-top: 70px;">
            <div class="col-md-12">
                <div class="col-md-offset-1 col-md-6">
                    <blockquote class="text-right">
                        Mystery Manila is an activity that allows people to try something new and challenging. You have several mysteryies to choose from. Each mystery will be represented by a room that transports you to that location and scenario. The simulation is as realistic as it can get and you'll be given all the things that you need to solve the mystery. It's up to you to figure out how to use these things and clues to solve the mystery in less than 60 minutes.
                    </blockquote>
                </div>
                <div class="col-md-5 text-left">
                    <h2>One room.<br>
                        One mystery.<br>
                        One hour.<br>
                        One way out.</h2>
                    <h2>Can you solve it?</h2>
                </div>
            </div>
        </div>
    </div>
    <span class="teaser-brush-frame brush-frame hidden-xs"></span>
</div>