<div id="brush-top"></div>
<section id="customer">
<div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center">
        <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
</div>
<div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light">
       <h3>Check out this <a href="https://www.murdermanila.com/deathatdinner">link</a> for complete details</h3>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
  </div>
</section>