<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Dinner Date Went Wrong</h2>
                <p class="teaser-description">A world-famous chef has been found murdered at the opening of his brand new restaurant. Could it be the disgruntled sous chef, the harsh food critic, the shady business partner, or the crazy food fanatic? Get your taste buds ready for murder and solve this culinary crime.
                    <br>Can you find out who caused the death at dinner?
                    
                <br/><br/> Brought to you by Mystery Manila and Megaworld. </p>
                

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>