<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">CHOOSE FROM 2 MYSTERIES!</h2>
                <h2 class="teaser-header">Can you solve the <b>Mad King's Murder?</b> or look for the dagger at the <b>Deadly Dungeon</b></h2>
                <p class="teaser-description">
                    <!-- Embark on a secret mission to hunt down an enemy spy which will take you on an adventure through the ins and outs of Poblacion, Makati on foot by night. -->

                    <br/><br/> Brought to you by Mystery Manila and Solaire. </p>

                    <p class="teaser-description">
                        - September 7 to 15, 2019
                        <br>- Venue would be at <b>The Tent at Solaire</b>
                        <br>- Teams of 2 to 6 people. Only P500 per head.
                        <br>- Games kick off every 20 - 30 minutes from 2:00pm to 9:00 PM during weekdays and 10:00 am - 10:00 pm during weekends and holidays. </p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
