<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">CHOOSE FROM 2 MYSTERIES!</h2>
                <h2 class="teaser-header">Can you solve the <b>Mad King's Murder?</b> or look for the dagger at the <b>Deadly Dungeon</b></h2>
                <p class="teaser-description">
                    <!-- Embark on a secret mission to hunt down an enemy spy which will take you on an adventure through the ins and outs of Poblacion, Makati on foot by night. -->

                    <br/><br/> Brought to you by Mystery Manila and Solaire PH. </p>

                    <p class="teaser-description">September 7 to 19</p>
                    <p class="teaser-description">Venue would be at <b>The Tent at Solaire</b></p>
                    <p class="teaser-description">Teams of 2 to 6 people. Only P500 per head.</p>
                    <p class="teaser-description">Games kick off every 30 minutes from 2:00 to 9:00 PM during weekdays and 10am - 10pm during weekends and holidays. </p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
