#button1 {
     border:1px #333 solid;   
	 font-size: 20px;
	 font-family: Oswald;
    padding:10px;
	margin-right:4em;
	height:50px;
    background-color:white;
	border-radius:10px;
    box-shadow:0px 0px 10px #555;
	
	
	background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(78%, rgba(216,225,231,1)), color-stop(78%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 78%, rgba(181,198,208,1) 78%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

font-family:Roboto;
font-size:40px;
display: block;
margin-left: auto; 
margin-right: auto;
width:20em;
TEXT-DECORATION: NONE;

}
#button1:hover, #button2:hover {
    color:yellow;
    border-radius:10px;
    box-shadow:0px 0px 10px #555;
		background: rgba(76,76,76,1);
background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(87%, rgba(44,44,44,1)), color-stop(92%, rgba(0,0,0,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 87%, rgba(0,0,0,1) 92%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
content {
	background:url('img/slide11.jpg') 50% 0 no-repeat fixed;
	color: #000;
	height: 600px;
	
	margin: 0;
	padding: 180px 0 260px 0;
	background-size: cover;}
	
	h1 { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 50px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	h2 { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 30px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	
	p { 
		font-family:"Roboto";
		font-weight:normal;
		font-size: 80px;
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 0;
	}
	a:visited{
	  color:blue;
	}
	a:hover{
  color:orange;
}
a:focus{
  color:green;
}

/* the overlayed element */
.apple_overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(../img/transparent.png);
	background-size: 200px 200px;

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:640px;

    /* some padding to layout nested elements nicely  */
    padding:35px;
	
	height: 800px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.apple_overlay .close {
    background-image:url(../img/close.png);
    position:absolute; right:5px; top:5px;
    cursor:pointer;
    height:35px;
    width:35px;
}