<!DOCTYPE html>
<html>
<head>
  {% include boilerplate_head.html %}
  <script src="/js/jquery.stellar.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $.stellar({
      horizontalScrolling: false,
      scrollProperty: 'scroll',
      positionProperty: 'position',
      responsive: true,
      hideDistantElements: false,
      horizontalOffset: 0,
      verticalOffset: 0
    });
  });
  </script>
</head>

  <body>
    {% include front/nav-header.html %}
    {{ content }}
    {% include footer.html %}

  </body>

</html>
