<!DOCTYPE html>
<html>
<head>
    {% include header/front-head.html %}
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <script src="js/modernizr.custom.js"></script>
</head>
    <!--<body>-->
    <body id="mock">
    {% include nav-header.html %}
    {{ content }}
    {% include footer.html %}
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/isInViewport.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="js/jquery.cbpQTRotator.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $.stellar({
        horizontalScrolling: false,
        scrollProperty: 'scroll',
        positionProperty: 'position',
        responsive: true,
        hideDistantElements: false,
        horizontalOffset: 0,
        verticalOffset: 0
      });
    });
    </script>

  <!-- Quezon-TripAdvisor -->
   <script src="http://www.jscache.com/wejs?wtype=socialButtonReviews&amp;uniq=71&amp;locationId=7142887&amp;color=green&amp;size=rect&amp;lang=en_PH&amp;display_version=2">
   </script>

  <!-- Makati-tripadvisory  -->
  <script src="http://www.jscache.com/wejs?wtype=socialButtonReviews&amp;uniq=726&amp;locationId=7336529&amp;color=green&amp;size=rect&amp;lang=en_PH&amp;display_version=2">
  </script>
  </body>

</html>
