<!DOCTYPE html>
<html>
<head>
    {% include header/head.html %}
</head>

<body id="promil">

{% include navbar.html %}
{{ content }}
{% include footer.html %}


<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
    $(document).ready(setTimeout(function(){
        $(function () {
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        });

        $(function () {
            window.twttr= $.getScript('https://platform.twitter.com/widgets.js',function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};
                if(d.getElementById(id))return;
                js=d.createElement(s);js.id=id;
                fjs.parentNode.insertBefore(js,fjs);
                t._e=[];t.ready=function(f){
                    t._e.push(f);};return t;
            }(document,"script","twitter-wjs"));

        });
    }),3000);
</script>

</body>

</html>
