---
title: Intramuros
layout: games
css: /css/events.css
permalink: /events/intramuros
---
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/bambike.png"/>
    </div>
    <div class="col-sm-6 col-lg-3">
        <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/ia.png"/>
    </div>
    <div class="col-sm-6 col-lg-3">
        <img class="img-responsive center-block event-title" style="width:100px" src="../../../img/events/intramuros/dot.png"/>
    </div>
    <div class="col-sm-6 col-lg-3">
        <img class="img-responsive center-block event-title" style="width:200px" src="../../../img/events/intramuros/IMFITP.png"/>
    </div>
</div>

{% include events/intramuros/cover.html %}

{% include events/intramuros/teaser.html %}

<div class="bg-overlay">
    
    <div class="game-section">
        {% include events/intramuros/mysteries.html %}
        {% include events/intramuros/how-to-book.html %}
        {% include events/intramuros/faq.html %}
    </div>
</div>
