---
title: Intramuros
layout: games
css: /css/events.css
permalink: /events/intramuros
---
{% include events/intramuros/cover.html %}
{% include events/intramuros/teaser.html %}
<div class="row">
    <div class="col-12 text-center">

        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMysterymanila%2Fvideos%2F335835360509790%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
    </div>
</div>
<div class="bg-overlay">
    <div class="game-section">
        {% include events/intramuros/how-to-book.html %}
        {% include events/intramuros/faq.html %}
    </div>
</div>
