<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Museum by Day, Mystery by Night</h2>
                <h2 class="teaser-header">Can you survive the Museum of Mysteries?</h2>
                <p class="teaser-description">Presenting a thrilling one of a kind event! CChoose between an indoor Murder Mystery or an outdoor Haunted Heirloom scavenger hunt.

                    <br/><br/> Brought to you by Mystery Manila and Eastwood City. </p>

                    <p class="teaser-description">Oct 26 to Nov 11, 2018</p>
                    <p class="teaser-description"><u>Murder Mystery:</u>Find the killer and solve a murder inside a mysterious museum. Only P250 per head.
                    </p>
                    <p class="teaser-description"><u><Haunted Heirloom: </u> Go on a scavenger hunt and look for mysterious artifacts around Eastwood City. Only P500 per group.
                    </p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>