<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">Museum by Day, Mystery by Night</h2>
                <h2 class="teaser-header">Can you survive the Museum of Mystery?</h2>
                <p class="teaser-description">Presenting a thrilling one of a kind event! Choose between a murder mystery (indoor) and a haunted heirloom (outdoor)

                    <br/><br/> Brought to you by Mystery Manila and Eastwood Marketing Team. </p>
                
            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>