<div id="brush-top"></div>
<section id="customer">
<div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light mt-8 mb-4 text-center">
        <h1 style="letter-spacing: 5px; border-bottom: solid 1px #fff;">FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
</div>
<div class="row">
    <div class="col-lg-2 col-sm-0"></div>
    <div class="col-lg-8 col-sm-12 text-light">
        <h3>  
          WHEN IS THE EVENT?
        </h3>
        <p>
  
          The event is from April 26 - April 28 and May 1. Come in anytime between 6pm - 9pm.
        </p>
        <h3>
  
          WHERE IS THE EVENT?
        </h3>
        <p>
            Starting point will be at Plaza San Luis Complex, right beside BAMBIKE HQ.
        </p>
          <h3>
  
            HOW MUCH PER HEAD?
          </h3>
          <p>
  
            It’s 400 per head. 
          </p>
          <h3>
  
            HOW DO I BOOK?:
          </h3>
          <p>
              <a href="https://booknow.mysterymanila.com/SpotPH.php">
                <button class="btn btn-success">CLICK ME</button>
            </a>    
          </p>
        
          <h3>
  
            HOW MANY PLAYERS IN A GROUP?
          </h3>
          <p>
  
            The game is designed up to a maximum of 5 pax. Any group size more than that will be requested to split into smaller groups. Why not bring a little bit of friendly competition?
          </p>
            <h3>
  
              REFUND POLICY
            </h3>
            <p>
  
              Paid bookings cannot be refunded but can be transferred to a different date/time slot. 
            </p>
              <h3>
  
                HOW LONG IS THE GAME:
              </h3>
              <p>
  
                The artifact that causes the spiritual disturbance will activate again in 50 minutes. Make sure to solve the mystery before it activates and another wave of creatures comes out to terrorize the people of Intramuros
              </p>
                <h3>
  
                  What happens if I don't get to solve it? 
                </h3>
                <p>
  
                  If your 50 minutes is up and you haven’t solved the mystery, you have the option of trying it again at a discounted rate. This will be subject to booking availability.
                </p>
          <h3>
    
            Can I get a clue or seek help during the game?
          </h3>
          <p>
    
            Yes but every clue requested will equate to a penalty of 5 minute addition to your total solving time.
          </p>
          <h3>
    
            Age limit: 
            </h3>
          <p>
    
            Groups with below 18 should be accompanied by at least 1 adult
          </p>
          <h3>
    
            What if I really want to play alone?
          </h3>
          <p>
    
            Depending on the mystery, you can play alone if you really want to but you have to pay for the price of two players. The mysteries are designed to be solved by at least two players and a maximum of 5. We believe that it is better and much more fun to solve mysteries together.
            </p>
          <h3>
    
            What if we don’t know how to Bike?
            </h3>
            <p>
              Please let us know ahead so we can arrange a special pedicab for your group. 
            </p>
    </div>
    <div class="col-lg-2 col-sm-0"></div>
  </div>
</section>