<section id="teaser">
    <div id="brush-top"></div>
    <div class="container">
        <div class="row">
            <div class="teaser-content">
                <h2 class="teaser-header">AN OUTDOOR MYSTERY EVENT</h2>
                <h2 class="teaser-header">Can you catch the spy?</h2>
                <p class="teaser-description">Embark on a secret mission to hunt down an enemy spy which will take you on an adventure through the ins and outs of Poblacion, Makati on foot by night.

                    <br/><br/> Brought to you by Mystery Manila and Spot.ph. </p>

                    <p class="teaser-description">Apr 26 to 28, and May 1, 2019</p>
                    <p class="teaser-description">Games kick off every 30 minutes from 6:00 to 9:00 PM at Mystery Manila's Century City Mall branch
                    </p>
                    <p class="teaser-description">Teams of 2 to 6 people. Only P250 per head.
                    </p>

            </div>
        </div>
    </div>
    <div id="brush-bottom"></div>
</section>
