<div class="col-md-4 branches-content" align="center">
    <div class="branches-button-container" align="center">
        <a class="makati-branch-button" href="javascript:void(0)">
            <img style="z-index: 100" class="center-block branches-image" src="/img/brand-logo.png"/>
        </a>
        <h3>MAKATI CITY</h3>
        <ul>
            {% for mystery in site.data.rooms limit:3 offset:3 %}
            <li class="branches-icon">
                <a class="branch-name-btn" data-target="#{{ mystery.slug }}" href="javascript:void(0)">
                    <span class="branch-label">
                        <p class="text-center">{{ mystery.slug | upcase}}</p>
                    </span>
                </a>
                <a class="branch-button" href="">
                    <img border="0" style="width: {{mystery.branch.width}}; background-position: {{ mystery.branch.position }}"  class="center-block branches-icon" src="http://www-cdr.stanford.edu/~petrie/blank.gif"/>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


