<div class="col-md-4 branches-content" align="center">
    <div class="branches-button-container" align="center">
        <a class="brand-logo-button" href="javascript:void(0)">
            <img style="z-index: 100" class="center-block branches-image" src="/img/brand-logo.png"/>
        </a>
        <h3>MAKATI CITY</h3>
        <ul>
            {% for game in site.data.games limit:3 offset:3 %}
            <li class="branches-icon">
                <a class="branch-button" data-target="#{{ game.name }}" href="javascript:void(0)">
                    <img border="0" style="width: {{game.width}}; background-position: {{ game.position }}"  class="center-block branches-icon" src="http://www-cdr.stanford.edu/~petrie/blank.gif"/>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


